Repository ccryptoDev/rair-dev: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file

bitbucket-pipelines.yml:

image: node:16.13.0

pipelines:
  pull-requests:
    '**': #this runs as default for any branch not elsewhere defined
      - step:
          name: Install Dependencies and run typescript test for minting-network
          caches:
            - node
          script:
            - yarn --cwd ./minting-marketplace
            - cd ./minting-marketplace && ./commands/run_tsc.sh
          condition:
            changesets:
              includePaths:
                - "minting-marketplace/**"
      - step:
          name: Run yarn install and compare generated yarn lock file with committed lock file
          caches:
            - node
          script:
            - cd ./commands/dependency_sync_check/ && ./init.sh
          condition:
            changesets:
              includePaths:
                - "**/package.json"
                - "**/yarn.lock"
    feature/*: #any branch with a feature prefix
      - step:
          name: Install Dependencies and run typescript test for minting-network
          caches:
            - node
          script:
            - yarn --cwd ./minting-marketplace
            - cd ./minting-marketplace && ./commands/run_tsc.sh
          condition:
            changesets:
              includePaths:
                - "minting-marketplace/**"
  #branches: #these will run on every push of the branch
  #  dev:
  #    - step:
  #        script:
  #          - ...
  #  main:
  #    - step:
  #        script:
  #          - ...

modified smart contracts
  minting-marketplace/src/ducks/contracts/reducer.ts
  smart-contracts/diamond-contracts/contracts/Marketplace/Facets/MintingOffersFacet.sol
  smart-contracts/diamond-contracts/deployments/0x1/MintingOffersFacet.json
  smart-contracts/diamond-contracts/deployments/0x1/solcInputs/6b3b31b2045612a4a08903bbe9f034c9.json
  smart-contracts/diamond-contracts/deployments/0x13881/MintingOffersFacet.json
  smart-contracts/diamond-contracts/deployments/0x13881/solcInputs/6b3b31b2045612a4a08903bbe9f034c9.json
Due: Install Dependencies and run typescript test for minting-network

updated diamond contract
  smart-contracts/diamond-contracts/deployments/0x38/MintingOffersFacet.json
  smart-contracts/diamond-contracts/deployments/0x38/solcInputs/6b3b31b2045612a4a08903bbe9f034c9.json
  smart-contracts/diamond-contracts/deployments/0x5/MintingOffersFacet.json
  smart-contracts/diamond-contracts/deployments/0x5/solcInputs/6b3b31b2045612a4a08903bbe9f034c9.json
  smart-contracts/diamond-contracts/deployments/0x61/MintingOffersFacet.json
  smart-contracts/diamond-contracts/deployments/0x61/solcInputs/6b3b31b2045612a4a08903bbe9f034c9.json
  smart-contracts/diamond-contracts/deployments/0x89/MintingOffersFacet.json
  smart-contracts/diamond-contracts/deployments/0x89/solcInputs/6b3b31b2045612a4a08903bbe9f034c9.json
Due: none

Modified aboutpage
  minting-marketplace/src/App.css
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/AboutPageNew.tsx
  minting-marketplace/src/components/common/PurchaseToken.tsx
  minting-marketplace/src/index.css
Due: Install Dependencies and run typescript test for minting-network

modified Mockuppage
  minting-marketplace/src/components/Footer/Footer.tsx
  minting-marketplace/src/components/Header/MainHeader.tsx
  minting-marketplace/src/components/MainPage/AboutUsTeam/index.tsx
  minting-marketplace/src/components/MainPage/MainPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftItemForCollectionView.tsx
  minting-marketplace/src/components/MockUpPage/mockupPage.types.ts
  minting-marketplace/src/components/common/commonTypes/PurchaseTokenTypes.types.ts
Due: Install Dependencies and run typescript test for minting-network

updated NFTlist
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataCommonLink.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataExternalLink.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataPageMain.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/SellInputButton.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/SerialNumberBuySell.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/TitleCollection/TitleCollection.tsx
  minting-marketplace/src/components/MockUpPage/NftList/utils/currentTokenData.ts
  minting-marketplace/src/components/MockUpPage/SelectBox/selectBox.types.ts
Due: Install Dependencies and run typescript test for minting-network

updated current tokens
  minting-marketplace/src/components/MockUpPage/SelectBox/SelectNumber/CurrentTokens/CurrentTokens.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/SelectNumber/ListOfTokens/ListOfTokens.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/styles.css
  minting-marketplace/src/components/SplashPage/GreymanSplashPage.tsx
  minting-marketplace/src/components/SplashPage/GreymanSplashPageMobile.css
  minting-marketplace/src/components/SplashPage/ImmersiVerseSplashPage.tsx
Due: Install Dependencies and run typescript test for minting-network

modified splashpages
  minting-marketplace/src/components/SplashPage/NFTLASplashPage.tsx
  minting-marketplace/src/components/SplashPage/PrivacyPolicy.module.css
  minting-marketplace/src/components/SplashPage/PrivacyPolicy.tsx
  minting-marketplace/src/components/SplashPage/SplashPage.css
  minting-marketplace/src/components/SplashPage/TermsUse.module.css
  minting-marketplace/src/components/SplashPage/TermsUse.tsx
  minting-marketplace/src/components/SplashPage/WarningModal.tsx
  minting-marketplace/src/components/SplashPage/assets/DiscordLogo.svg
  minting-marketplace/src/components/SplashPage/index.tsx
  minting-marketplace/src/components/SplashPage/splashPage.types.ts
Due: Install Dependencies and run typescript test for minting-network

modified splash pages
  minting-marketplace/src/components/SplashPage/CoinAgenda2021/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/CoinAgenda2021/CoinAgenda2021.tsx
  minting-marketplace/src/components/SplashPage/Greyman/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/Greyman/GreymanSplashPage.tsx
  minting-marketplace/src/components/SplashPage/Greyman/GreymanSplashPageMobile.css
  minting-marketplace/src/components/SplashPage/assets/MetaMaskFox.svg
  minting-marketplace/src/components/SplashPage/assets/twitterIcon.svg
  minting-marketplace/src/components/SplashPage/images/markKohler/MarkKohlerImage.webp
  minting-marketplace/src/components/SplashPage/images/markKohler/markHohler.ts
  minting-marketplace/src/components/SplashPage/images/teamMeetList/DogTax_Summit.webp
Due: Install Dependencies and run typescript test for minting-network

modified splash page and teammates
  minting-marketplace/src/components/SplashPage/ImmersiVerse/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/ImmersiVerse/ImmersiVerseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/MarkKohler/MarkKohler.tsx
  minting-marketplace/src/components/SplashPage/MarkKohler/markKohler.css
  minting-marketplace/src/components/SplashPage/images/teamMeetList/MarkJKohler.webp
  minting-marketplace/src/components/SplashPage/images/teamMeetList/RairLogo_Kohler.webp
  minting-marketplace/src/components/SplashPage/images/teamMeetList/RairLogo_Koholer-text.webp
  minting-marketplace/src/components/SplashPage/images/teamMeetList/teamMeetList.ts
Due: Install Dependencies and run typescript test for minting-network

updated aboutusTeam and NFTNYC
  minting-marketplace/src/components/SplashPage/MarkKohler/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/NFTLA/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/NFTLA/NFTLASplashPage.tsx
  minting-marketplace/src/components/SplashPage/NFTNYC/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/NFTNYC/NFTNYC.tsx
  minting-marketplace/src/components/SplashPage/Nipseyverse/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/Nipseyverse/index.tsx
  minting-marketplace/src/components/SplashPage/Nutcrackers/Nutcrackers.tsx
Due: Install Dependencies and run typescript test for minting-network

updated privacy and policy
  minting-marketplace/src/components/SplashPage/Nutcrackers/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/PrivacyPolicyPage/PrivacyPolicy.module.css
  minting-marketplace/src/components/SplashPage/PrivacyPolicyPage/PrivacyPolicy.tsx
  minting-marketplace/src/components/SplashPage/RAIRGenesis/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/RAIRGenesis/RAIRGenesis.tsx
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.css
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.tsx
Due: Install Dependencies and run typescript test for minting-network

Updated splashpage, slide and aboutusteam in minting marketplace
  minting-marketplace/src/components/SplashPage/SimDogs/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/SlideLock/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/SlideLock/SlideLock.tsx
Due: Install Dependencies and run typescript test for minting-network

added styled components into minter marketplace
  minting-marketplace/src/components/SplashPage/SplashPageConfig/CardBlock/SplashPageCardWrapper.tsx
  minting-marketplace/src/components/SplashPage/SplashPageConfig/styles/MainBlockTextContainer.styled.ts
  minting-marketplace/src/components/SplashPage/SplashPageConfig/styles/SplashMainBlockStyled.styled.ts
  minting-marketplace/src/components/SplashPage/SplashPageConfig/styles/StyledButtonsContainer.styled.ts
  minting-marketplace/src/components/SplashPage/SplashPageConfig/styles/StyledWrapperContainers.styled.ts
  minting-marketplace/src/components/SplashPage/SplashPageConfig/utils/hyperLink.ts
Due: Install Dependencies and run typescript test for minting-network

modified page templates in minter marketplace
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/DonationSquares/DonationSquare.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamComponentCommon.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamMeetList.tsx
Due: Install Dependencies and run typescript test for minting-network

modified terms
  minting-marketplace/src/components/SplashPage/TermsUsePage/TermsUse.module.css
  minting-marketplace/src/components/SplashPage/TermsUsePage/TermsUse.tsx
Due: Install Dependencies and run typescript test for minting-network

updated ukriane splash page
  minting-marketplace/src/components/SplashPage/UkraineGlitchSplashPage/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/UkraineGlitchSplashPage/UkraineSplashPage.tsx
Due: Install Dependencies and run typescript test for minting-network

modified vaporverse and about team pages
  minting-marketplace/src/components/SplashPage/VaporverseSplash/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/VaporverseSplash/VaporverseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/wallstreet80sclub/AboutUsTeam/index.tsx
  minting-marketplace/src/components/SplashPage/wallstreet80sclub/wallstreet80sclub.tsx
Due: Install Dependencies and run typescript test for minting-network

added redux for nftdata
  minting-marketplace/src/components/SplashPage/WarningModal/WarningModal.tsx
  minting-marketplace/src/ducks/index.ts
  minting-marketplace/src/ducks/nftData/action.ts
  minting-marketplace/src/ducks/nftData/nftData.types.ts
  minting-marketplace/src/ducks/nftData/reducers.ts
Due: Install Dependencies and run typescript test for minting-network

created new components in splashpage
  minting-marketplace/src/components/SplashPage/SplashPageConfig/CardBlock/ButtonMainBlockWrapper.tsx
  minting-marketplace/src/components/SplashPage/SplashPageConfig/CardBlock/SplashCardButton.tsx
  minting-marketplace/src/components/SplashPage/SplashPageConfig/CardBlock/SplashCardButtonsWrapper.tsx
  minting-marketplace/src/components/SplashPage/SplashPageConfig/splashConfig.types.ts
  minting-marketplace/src/components/SplashPage/SplashPageConfig/theme.styled.ts
Due: Install Dependencies and run typescript test for minting-network

modified cardblock in minter marketplace
  minting-marketplace/src/components/SplashPage/SplashPageConfig/CardBlock/SplashCardDescription.tsx
  minting-marketplace/src/components/SplashPage/SplashPageConfig/CardBlock/SplashCardImage.tsx
  minting-marketplace/src/components/SplashPage/SplashPageConfig/CardBlock/SplashCardInfoBlock.tsx
  minting-marketplace/src/components/SplashPage/SplashPageConfig/CardBlock/SplashCardText.tsx
Due: Install Dependencies and run typescript test for minting-network

modified splash page template
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/AuthorCard/AuthorCard.css
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/DonationSquares/DonationSquare.css
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/ModalHelp.tsx
  minting-marketplace/src/fonts/Nebulosa/Graviton - NebulosaBlackDisplaySolid.otf
Due: Install Dependencies and run typescript test for minting-network

added hook in minting marketplace
  minting-marketplace/src/fonts/Nebulosa/Graviton - NebulosaBlackDisplayStencil.otf
  minting-marketplace/src/hooks/useComponentVisible.tsx
  rairnode/bin/files/files.Controller.js
Due: Install Dependencies and run typescript test for minting-network

updated rairnode
  rairnode/bin/locks/locks.Controller.js
  rairnode/bin/products/product.Controller.js
  rairnode/bin/schemas/getFilesByProduct.js
  rairnode/bin/schemas/getLocksByProduct.js
  rairnode/bin/schemas/getProductsByUserAddress.js
Due: none

updated rairnode
  rairnode/bin/schemas/index.js
  rairnode/bin/tokens/tokens.Controller.js
  rairnode/bin/utils/errors/mainErrorHandler.js
  rairnode/readme/get_tokens.md
Due: none

modified kuberetes
  Jenkinsfile
  blockchain-networks-service/bin/models/user.js
  kubernetes-manifests/configmaps/environment/dev/configmap-media-service.yaml
  kubernetes-manifests/configmaps/environment/mark-kohler/BackendConfig.yaml
  kubernetes-manifests/configmaps/environment/mark-kohler/configmap-blockchain-event-listener.yaml
Due: none

updated kubernetes
  kubernetes-manifests/configmaps/environment/mark-kohler/configmap-ingress.yaml
  kubernetes-manifests/configmaps/environment/mark-kohler/configmap-media-service.yaml
  kubernetes-manifests/configmaps/environment/mark-kohler/configmap-minting-network.yaml
Due: none

updated rairnode and fontend in kubereates
  kubernetes-manifests/configmaps/environment/mark-kohler/FrontendConfig.yaml
  kubernetes-manifests/configmaps/environment/mark-kohler/configmap-rairnode.yaml
Due: none

modified configmaps in kuberetes
  kubernetes-manifests/configmaps/environment/mark-kohler/managed-cert.yaml
  kubernetes-manifests/configmaps/environment/mark-kohler/rair-ingress.yaml
Due: none

updated kubernetes in media service
  kubernetes-manifests/dev-manifest/media-service.yaml
Due: none

modified minting network
  minting-marketplace/Dockerfile.prod
  minting-marketplace/src/App.css
  minting-marketplace/yarn.lock
Due: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file

updated rairnode
  rairnode/bin/models/user.js
  rairnode/bin/routes/nft/contract/product/index.js
  rairnode/bin/utils/helpers.js
Due: none

modified terraform env
  terraform/environments/cloudflare/taxhacks_xyz.tf
  terraform/environments/cloudflare/zones.tf
Due: none
