Repository ccryptoDev/rair-dev: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file

bitbucket-pipelines.yml:

image: node:16.13.0

pipelines:
  pull-requests:
    '**': #this runs as default for any branch not elsewhere defined
      - step:
          name: Install Dependencies and run typescript test for minting-network
          caches:
            - node
          script:
            - yarn --cwd ./minting-marketplace
            - cd ./minting-marketplace && ./commands/run_tsc.sh
          condition:
            changesets:
              includePaths:
                - "minting-marketplace/**"
      - step:
          name: Run yarn install and compare generated yarn lock file with committed lock file
          caches:
            - node
          script:
            - cd ./commands/dependency_sync_check/ && ./init.sh
          condition:
            changesets:
              includePaths:
                - "**/package.json"
                - "**/yarn.lock"
    feature/*: #any branch with a feature prefix
      - step:
          name: Install Dependencies and run typescript test for minting-network
          caches:
            - node
          script:
            - yarn --cwd ./minting-marketplace
            - cd ./minting-marketplace && ./commands/run_tsc.sh
          condition:
            changesets:
              includePaths:
                - "minting-marketplace/**"
  #branches: #these will run on every push of the branch
  #  dev:
  #    - step:
  #        script:
  #          - ...
  #  main:
  #    - step:
  #        script:
  #          - ...

Modify components in minting marketplace
  Jenkinsfile
  docker-compose.yml
  kubernetes-manifests/configmaps/environment/dev/rair-ingress.yaml
  kubernetes-manifests/dev-testing-deployment/minting-network.yaml
  minting-marketplace/nginx/nginx.conf
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/AboutPageNew.css
  minting-marketplace/src/components/AboutPage/AboutPageNew/AboutPageNew.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/CompareAbout/CompareAbout.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/CompareAbout/CompareMobileSelect/CompareMobileSelect.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/ExclusiveNfts/ExclusiveNfts.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/LeftTokenAbout/LeftTokenAbout.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/Tokenomics/Tokenomics.tsx
  minting-marketplace/src/components/AboutPage/assets/about.ts
  minting-marketplace/src/components/AboutPage/assets/aboutPage_bg-1.png
Due: Install Dependencies and run typescript test for minting-network

Update image resources in minting
  minting-marketplace/src/components/AboutPage/assets/exclusiveNfts/coin-agenda_1.webp
  minting-marketplace/src/components/AboutPage/assets/exclusiveNfts/coin-agenda_2.webp
  minting-marketplace/src/components/AboutPage/assets/exclusiveNfts/exclusiveNfts.ts
  minting-marketplace/src/components/AboutPage/assets/exclusiveNfts/grayman-matrix.webp
  minting-marketplace/src/components/AboutPage/assets/exclusiveNfts/monster.webp
  minting-marketplace/src/components/AboutPage/assets/exclusiveNfts/nutcracher-nft-photo.webp
  minting-marketplace/src/components/AboutPage/assets/tokenomics/arb-icon.webp
  minting-marketplace/src/components/AboutPage/assets/tokenomics/binance-icon.webp
  minting-marketplace/src/components/AboutPage/assets/tokenomics/eth-icon.webp
  minting-marketplace/src/components/AboutPage/assets/tokenomics/kat-icon.webp
  minting-marketplace/src/components/AboutPage/assets/tokenomics/matic-icon.webp
  minting-marketplace/src/components/AboutPage/assets/tokenomics/space-icon.webp
  minting-marketplace/src/components/AboutPage/assets/tokenomics/tokenomics.ts
  minting-marketplace/src/components/AboutPage/assets/tokenomics/triple-icon.webp
  minting-marketplace/src/components/Footer/Footer.tsx
  minting-marketplace/src/components/Header/DiscordIcon.tsx
  minting-marketplace/src/components/common/PurchaseToken.tsx
Due: Install Dependencies and run typescript test for minting-network

Convert personalProfile, splash and header in minting marketplace into typescript
  minting-marketplace/src/components/Header/MainHeader.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/VideoPlayerView.tsx
  minting-marketplace/src/components/Navigation/Menu.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileChoiseNav.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileListMenu.tsx
  minting-marketplace/src/components/SplashPage/CoinAgenda2021/CoinAgenda2021.css
  minting-marketplace/src/components/SplashPage/CommingSoon/ComingSoonNut.tsx
  minting-marketplace/src/components/SplashPage/CommingSoon/CommingSoon.tsx
  minting-marketplace/src/components/SplashPage/GreymanSplashPage.tsx
  minting-marketplace/src/components/SplashPage/GreymanSplashPageMobile.css
  minting-marketplace/src/components/SplashPage/ImmersiVerseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/NFTLASplashPage.tsx
  minting-marketplace/src/components/SplashPage/SplashPage.css
  minting-marketplace/src/components/SplashPage/WarningModal.tsx
  minting-marketplace/src/components/SplashPage/index.tsx
  minting-marketplace/src/components/layout/Layout.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileIcon/PersonalProfileIcon.tsx
Due: Install Dependencies and run typescript test for minting-network

added some functions into splashpage and slide in minter marketplace
  minting-marketplace/src/components/SplashPage/images/nutcrackers/cracker-icon.webp
  minting-marketplace/src/components/SplashPage/images/nutcrackers/exclusive-nuts_1.webp
  minting-marketplace/src/components/SplashPage/images/nutcrackers/exclusive-nuts_2.webp
  minting-marketplace/src/components/SplashPage/images/nutcrackers/exclusive-nuts_3.webp
  minting-marketplace/src/components/SplashPage/images/nutcrackers/exclusive-nuts_4.webp
  minting-marketplace/src/components/SplashPage/images/nutcrackers/exclusive-nuts_5.webp
  minting-marketplace/src/components/SplashPage/images/nutcrackers/nft-token-nuts.webp
  minting-marketplace/src/components/SplashPage/images/nutcrackers/nutcrackers.ts
  minting-marketplace/src/components/SplashPage/images/rairGenesis/TV-RAIR-StandardColor-0.gif
  minting-marketplace/src/components/SplashPage/images/rairGenesis/creator-flow.webp
  minting-marketplace/src/components/SplashPage/images/rairGenesis/rairGenesis.ts
  minting-marketplace/src/components/SplashPage/images/simDogs/SimDogs0.webp
  minting-marketplace/src/components/SplashPage/images/simDogs/SimDogs1.webp
  minting-marketplace/src/components/SplashPage/images/simDogs/SimDogs2.webp
  minting-marketplace/src/components/SplashPage/images/simDogs/SimDogs3.webp
  minting-marketplace/src/components/SplashPage/images/simDogs/SimDogs4.webp
  minting-marketplace/src/components/SplashPage/images/simDogs/simDogs.ts
  minting-marketplace/src/components/SplashPage/images/slideLock/NEW-Logo-sample-slidelock-1.webp
  minting-marketplace/src/components/SplashPage/images/slideLock/slide-NFT1.webp
  minting-marketplace/src/components/SplashPage/images/slideLock/slide-NFT2.webp
  minting-marketplace/src/components/SplashPage/images/slideLock/slide-NFT3.webp
  minting-marketplace/src/components/SplashPage/images/slideLock/slide-NFT4.webp
Due: Install Dependencies and run typescript test for minting-network

update web resources to webp
  minting-marketplace/src/components/SplashPage/images/slideLock/Slide-Toppic-01.webp
  minting-marketplace/src/components/SplashPage/images/slideLock/slideLock.ts
  minting-marketplace/src/components/SplashPage/images/slideLock/slidelock_background.webp
  minting-marketplace/src/components/SplashPage/images/slideLock/slidelock_video_background.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/bandana.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/cepk.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/digital-mobile.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/exclusive_1.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/exclusive_2.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/exclusive_3.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/exclusive_4.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/humble.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/image_1.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/image_2.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/image_3.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/left-tokens.jpeg
  minting-marketplace/src/components/SplashPage/images/splashPageImages/main-nft-screen.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/maraphon.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/nft-mobile_1.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/nft-mobile_2.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/nipsey-bg-mobile.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/nipsey.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/nipsey1.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/nonCommercial.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/nonCommercial2-modified.webp
  minting-marketplace/src/components/SplashPage/images/splashPageImages/nonCommercial2.webp
Due: Install Dependencies and run typescript test for minting-network

removed jpeg, png
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/1050.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/126.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/1294.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/1518.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/1641.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/1896.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/1989.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/246.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/4.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/497.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/5.gif
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/653.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/777.jpg
  minting-marketplace/src/components/SplashPage/images/UkraineGlitchNFTExamples/rounded_corners.png
  minting-marketplace/src/components/SplashPage/images/UkrainianAmericanCons/15724868_10208080805993720_1581371147497725224_o.jpeg
  minting-marketplace/src/components/SplashPage/images/UkrainianAmericanCons/15747481_10208080804313678_2145496804834067189_n.jpeg
  minting-marketplace/src/components/SplashPage/images/UkrainianSoldierswithMedical/13691099_10206868020074830_4955741752501268016_o.jpeg
  minting-marketplace/src/components/SplashPage/images/UkrainianSoldierswithMedical/13698093_10206868020034829_7266491778194650079_o.jpeg
  minting-marketplace/src/components/SplashPage/images/UkrainianSoldierswithMedical/13701188_10206868019994828_1732850119752532053_o.jpeg
  minting-marketplace/src/components/SplashPage/images/UkrainianSoldierswithMedical/15676336_10208080807033746_2876859068322728680_o.jpeg
  minting-marketplace/src/components/SplashPage/images/UkrainianSoldierswithMedical/15775051_10208080803953669_28938129460931603_o.jpeg
  minting-marketplace/src/components/SplashPage/images/UkrainianSoldierswithMedical/15800232_10208080807313753_6940921784834770481_o.jpeg
  minting-marketplace/src/components/SplashPage/images/UkrainianSoldierswithMedical/nftCountUkraine.jpeg
  minting-marketplace/src/components/SplashPage/images/Untitled 3.rtfd/Pasted Graphic.png
  minting-marketplace/src/components/SplashPage/images/Untitled 3.rtfd/TXT.rtf
Due: Install Dependencies and run typescript test for minting-network

added new web resources
  minting-marketplace/src/components/SplashPage/images/vaporverse/vaporverse.ts
  minting-marketplace/src/components/SplashPage/images/vaporverse/vaporverse_authorcard_background.webp
  minting-marketplace/src/components/SplashPage/images/vaporverse/vaporverse_video_background.webp
  minting-marketplace/src/components/SplashPage/images/vaporverse/vv_NFT_0.webp
  minting-marketplace/src/components/SplashPage/images/vaporverse/vv_NFT_1.webp
  minting-marketplace/src/components/SplashPage/images/vaporverse/vv_NFT_2.webp
  minting-marketplace/src/components/SplashPage/images/vaporverse/vv_NFT_3.webp
  minting-marketplace/src/components/SplashPage/images/vaporverse/vv_NFT_4.webp
  minting-marketplace/src/components/SplashPage/images/vaporverse/vv_Rair_logo.webp
  minting-marketplace/src/components/SplashPage/images/vaporverse/vv_test_transmission.webp
  minting-marketplace/src/components/SplashPage/images/vaporverse/vv_warning_1.webp
  minting-marketplace/src/components/SplashPage/images/vaporverse/vv_warning_2.webp
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreet.webp
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreet1.webp
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreet2.webp
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreet80sclub.ts
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreetA.webp
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreetB.webp
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreetC.webp
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreetCounter.webp
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreetD.webp
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreetE.webp
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreetF.webp
Due: Install Dependencies and run typescript test for minting-network

modified some styles in splash page in minter marketplace
  minting-marketplace/src/components/SplashPage/NFTNYC/NFTNYC.css
  minting-marketplace/src/components/SplashPage/NFTNYC/NFTNYC.tsx
  minting-marketplace/src/components/SplashPage/NotCommercial-2/NotCommercial-2.css
  minting-marketplace/src/components/SplashPage/NotCommercial/NotCommercial.css
  minting-marketplace/src/components/SplashPage/Nutcrackers/Nutcrackers.tsx
  minting-marketplace/src/components/SplashPage/RAIRGenesis/RAIRGenesis.css
  minting-marketplace/src/components/SplashPage/RAIRGenesis/RAIRGenesis.tsx
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.css
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.tsx
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs_old.css
  minting-marketplace/src/components/SplashPage/SlideLock/SlideLock.tsx
Due: Install Dependencies and run typescript test for minting-network

update teammeat in splash page
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/TimelineGeneric/img/pic1.png
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/TimelineGeneric/img/pic2.png
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/TimelineGeneric/img/pic3.png
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/TimelineGeneric/img/pic5.png
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/TimelineGeneric/img/pic6.png
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/TimelineGeneric/img/pic7.png
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoPlayer/ShowVideoToLoggedInUsers.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoTiles/VideoTilesItem.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoTiles/VideosTilesTest.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamMeetList.tsx
  minting-marketplace/src/components/SplashPage/Timeline/Timeline.tsx
Due: Install Dependencies and run typescript test for minting-network

update gilich and wallstreet in splash
  minting-marketplace/src/components/SplashPage/Timeline/img/pic1.png
  minting-marketplace/src/components/SplashPage/Timeline/img/pic2.png
  minting-marketplace/src/components/SplashPage/Timeline/img/pic3.png
  minting-marketplace/src/components/SplashPage/Timeline/img/pic5.png
  minting-marketplace/src/components/SplashPage/Timeline/img/pic6.png
  minting-marketplace/src/components/SplashPage/Timeline/img/pic7.png
  minting-marketplace/src/components/SplashPage/UkraineGlitchSplashPage/UkraineSplashPage.tsx
  minting-marketplace/src/components/SplashPage/UnlockVideos/UnlockVideoItem.tsx
  minting-marketplace/src/components/SplashPage/VaporverseSplash/VaporverseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/wallstreet80sclub/wallstreet80sclub.css
  minting-marketplace/src/components/SplashPage/wallstreet80sclub/wallstreet80sclub.tsx
  minting-marketplace/src/components/ThankYouPage/index.tsx
  minting-marketplace/src/components/UserProfileSettings/PopUpNotification/PopUpNotification.tsx
  minting-marketplace/src/components/UserProfileSettings/UserProfileSettings.tsx
  minting-marketplace/src/components/video/videoItem.tsx
  minting-marketplace/src/ducks/colors/reducer.ts
Due: Install Dependencies and run typescript test for minting-network

added new web resources in minting marketplace
  minting-marketplace/src/images/BlackBg.png
  minting-marketplace/src/images/BlackBg.webp
  minting-marketplace/src/images/ClayBg.png
  minting-marketplace/src/images/ClayBg.webp
  minting-marketplace/src/images/RAIR-Tech-Logo-POWERED BY-BLACK-2021.png
  minting-marketplace/src/images/RAIR-Tech-Logo-POWERED BY-WHITE-2021.png
  minting-marketplace/src/images/RAIR-Tech-Logo-POWERED-BY-BLACK-2021.webp
  minting-marketplace/src/images/RAIR-Tech-Logo-POWERED-BY-WHITE-2021.webp
  minting-marketplace/src/images/curios.webp
  minting-marketplace/src/images/dapper-logo.webp
  minting-marketplace/src/images/defaultAvatarProfile.png
  minting-marketplace/src/images/defaultAvatarProfile.webp
  minting-marketplace/src/images/discord-white-no-border.webp
  minting-marketplace/src/images/discord.webp
  minting-marketplace/src/images/index.tsx
  minting-marketplace/src/images/metamask-fox.svg
  minting-marketplace/src/images/metamask_logo.webp
  minting-marketplace/src/images/mintable-logo.webp
  minting-marketplace/src/images/oneOf-logo.webp
  minting-marketplace/src/images/openSea-logo.webp
  minting-marketplace/src/images/rairLogo_blue.webp
  minting-marketplace/src/images/rairTechLogoBlack.png
  minting-marketplace/src/images/rairTechLogoBlack.webp
  minting-marketplace/src/images/rairTechLogoWhite.png
  minting-marketplace/src/images/rairTechLogoWhite.webp
  minting-marketplace/src/images/rarible-logo.webp
Due: Install Dependencies and run typescript test for minting-network

update blockchain data
  minting-marketplace/src/utils/blockchainData.ts
Due: Install Dependencies and run typescript test for minting-network

modify contract, files, middleware controllers in rairnode
  rairnode/README.md
  rairnode/bin/contracts/contracts.Controller.js
  rairnode/bin/contracts/contracts.Service.js
  rairnode/bin/files/files.Controller.js
  rairnode/bin/files/files.Service.js
  rairnode/bin/index.js
  rairnode/bin/middleware/streamVerification.js
  rairnode/bin/offers/offers.Controller.js
  rairnode/bin/offers/offers.Service.js
  rairnode/bin/routes/auth.js
  rairnode/bin/routes/stream.js
  rairnode/bin/tokens/tokens.Controller.js
  rairnode/bin/tokens/tokens.Service.js
  rairnode/bin/utils/entityFactory.js
  rairnode/package-lock.json
  rairnode/package.json
  rairnode/readme/get_Offer_by_Address_and_Product.md
  rairnode/readme/get_files_by_nft_v2.md
  rairnode/readme/get_my_tokens.md
Due: Run yarn install and compare generated yarn lock file with committed lock file

modify blockchain network service
  Jenkinsfile
  blockchain-networks-service/bin/integrations/ethers/contracts/diamondMarketplaceABI.json
  blockchain-networks-service/bin/integrations/ethers/transactionCatcher.js
  blockchain-networks-service/bin/tasks/sync-all-721-logs.js
  blockchain-networks-service/bin/utils/eventCatcherMapping.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/eventsCommonUtils.js
  blockchain-networks-service/bin/utils/logUtils.js
  minting-marketplace/nginx/nginx.conf
Due: Install Dependencies and run typescript test for minting-network

modify environment and blockchain events in kubernetes
  kubernetes-manifests/configmaps/environment/staging/configmap-blockchain-event-listener.yaml
  kubernetes-manifests/configmaps/environment/staging/configmap-ingress.yaml
  kubernetes-manifests/configmaps/environment/staging/configmap-media-service.yaml
  kubernetes-manifests/configmaps/environment/staging/configmap-minting-network.yaml
  kubernetes-manifests/configmaps/environment/staging/configmap-rairnode.yaml
  kubernetes-manifests/configmaps/environment/staging/rair-ingress.yaml
  kubernetes-manifests/dev-manifest/blockchain-event-listener.yaml
  kubernetes-manifests/dev-manifest/media-service.yaml
  kubernetes-manifests/dev-manifest/minting-network.yaml
  kubernetes-manifests/dev-manifest/rairnode.yaml
Due: none

modify contract, service controllers in rairnode
  minting-marketplace/src/components/MockUpPage/NftList/NftData/SerialNumberBuySell.tsx
  rairnode/README.md
  rairnode/bin/contracts/contracts.Controller.js
  rairnode/bin/contracts/contracts.Service.js
  rairnode/bin/integrations/ethers/web3Signature.js
  rairnode/bin/middleware/index.js
  rairnode/bin/middleware/verifySuperAdmin.js
  rairnode/bin/models/contract.js
  rairnode/bin/routes/auth.js
  rairnode/bin/schemas/index.js
  rairnode/bin/schemas/manageContract.js
  rairnode/package.json
  rairnode/readme/update_contract_by_id.md
  rairnode/scripts/dev/2.18.0.mongo.js
Due: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file

modify blockchain network
  blockchain-networks-service/bin/tasks/index.js
  blockchain-networks-service/bin/tasks/sync-all-diamond-721-logs.js
  blockchain-networks-service/bin/tasks/sync-classic-minter.js
  blockchain-networks-service/bin/tasks/sync-contracts.js
  blockchain-networks-service/bin/tasks/sync-diamond-contracts.js
  blockchain-networks-service/bin/tasks/sync-diamond-minter.js
  blockchain-networks-service/bin/tasks/sync-resale.js
Due: none

update nft videoplayer in minting marketplace
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftVideoplayer/NftVideoplayer.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoPlayer/VideoPlayerBySignature .tsx
  minting-marketplace/src/components/video/videoPlayer.tsx
  minting-marketplace/src/components/video/videoPlayerGenerall.tsx
  minting-marketplace/src/utils/rFetch.ts
Due: Install Dependencies and run typescript test for minting-network

modify web3 signature in rairnode
  rairnode/bin/integrations/ethers/web3Signature.js
  rairnode/bin/routes/auth.js
  rairnode/bin/schemas/getChallengeV2.js
  rairnode/bin/schemas/index.js
Due: none

modified blockchain network
  blockchain-networks-service/bin/models/contract.js
  blockchain-networks-service/bin/tasks/index.js
  blockchain-networks-service/bin/tasks/sync-all-721-logs.js
  blockchain-networks-service/bin/tasks/sync-all-diamond-721-logs.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/eventsCommonUtils.js
Due: none

modified splash page in minting marketplace
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/AboutPageNew.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/aboutPage.types.ts
  minting-marketplace/src/components/FrontPage/WelcomeHeader.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/TitleCollection/SharePopUp/SharePopUp.tsx
  minting-marketplace/src/components/SeoTags/MetaTags.tsx
  minting-marketplace/src/components/SplashPage/GreymanSplashPage.tsx
  minting-marketplace/src/components/SplashPage/ImmersiVerseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/index.tsx
Due: Install Dependencies and run typescript test for minting-network

modified some types in minting marketplace
  minting-marketplace/src/components/SplashPage/NFTLASplashPage.tsx
Due: Install Dependencies and run typescript test for minting-network

updated splash page
  minting-marketplace/src/components/SplashPage/CoinAgenda2021/CoinAgenda2021.tsx
  minting-marketplace/src/components/SplashPage/NFTNYC/NFTNYC.tsx
  minting-marketplace/src/components/SplashPage/Nutcrackers/Nutcrackers.tsx
  minting-marketplace/src/components/SplashPage/RAIRGenesis/RAIRGenesis.tsx
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.tsx
  minting-marketplace/src/components/SplashPage/SlideLock/SlideLock.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoTiles/VideosTilesTest.tsx
  minting-marketplace/src/components/SplashPage/UkraineGlitchSplashPage/UkraineSplashPage.tsx
  minting-marketplace/src/components/SplashPage/VaporverseSplash/VaporverseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/splashPage.types.ts
  minting-marketplace/src/components/SplashPage/wallstreet80sclub/wallstreet80sclub.tsx
  minting-marketplace/src/ducks/index.ts
Due: Install Dependencies and run typescript test for minting-network

created ducks reducer
  minting-marketplace/src/ducks/seo/actions.ts
  minting-marketplace/src/ducks/seo/reducers.ts
  minting-marketplace/src/ducks/seo/seo.types.ts
  minting-marketplace/src/ducks/seo/types.ts
  minting-marketplace/src/utils/googleAnalytics.tsx
  minting-marketplace/src/views/ErrorFallback/ErrorFallback.tsx
Due: Install Dependencies and run typescript test for minting-network

modified token service in rairnode
  rairnode/README.md
  rairnode/bin/contracts/contracts.Service.js
  rairnode/bin/offers/offers.Controller.js
  rairnode/bin/schemas/index.js
  rairnode/bin/schemas/withProductV2.js
  rairnode/bin/tokens/tokens.Controller.js
  rairnode/bin/tokens/tokens.Service.js
  rairnode/bin/utils/entityFactory.js
  rairnode/readme/common_get_all.md
  rairnode/readme/get_tokenNumbers.md
Due: none

upgraded smart contract version from 0.8.16 to 0.8.17
  smart-contracts/classic-contracts/contracts/Factory/RAIR721_Deployer.sol
  smart-contracts/classic-contracts/contracts/Factory/RAIR721_Master_Factory.sol
  smart-contracts/classic-contracts/contracts/Marketplaces/MarketplaceMinter.sol
  smart-contracts/classic-contracts/contracts/Marketplaces/MarketplaceResale.sol
  smart-contracts/classic-contracts/contracts/Tokens/IRAIR721_Contract.sol
  smart-contracts/classic-contracts/contracts/Tokens/RAIR721_Contract.sol
  smart-contracts/classic-contracts/contracts/Utilities/rangeValidator.sol
  smart-contracts/classic-contracts/deployments/binanceTestnet/RAIR721_Deployer.json
  smart-contracts/classic-contracts/deployments/binanceTestnet/solcInputs/9337b746c4b6f969810e5bf2f5f94b8a.json
  smart-contracts/classic-contracts/deployments/goerli/RAIR721_Deployer.json
  smart-contracts/classic-contracts/deployments/goerli/solcInputs/9337b746c4b6f969810e5bf2f5f94b8a.json
  smart-contracts/classic-contracts/deployments/mumbai/RAIR721_Deployer.json
  smart-contracts/classic-contracts/deployments/mumbai/solcInputs/9337b746c4b6f969810e5bf2f5f94b8a.json
  smart-contracts/classic-contracts/hardhat.config.js
  smart-contracts/classic-contracts/package.json
  smart-contracts/classic-contracts/test/Factory.js
Due: Run yarn install and compare generated yarn lock file with committed lock file

update minting marketplace
  minting-marketplace/.eslintrc.json
  minting-marketplace/package.json
  minting-marketplace/src/App.css
  minting-marketplace/src/App.test.tsx
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/AboutPageNew.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/aboutPage.types.ts
  minting-marketplace/src/components/consumerMode.tsx
  minting-marketplace/src/components/creatorAndConsumerModes.types.ts
  minting-marketplace/src/components/creatorMode.tsx
  minting-marketplace/src/index.tsx
  minting-marketplace/yarn.lock
Due: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file

modified admin view and aboutpage in minting marketplace
  minting-marketplace/src/components/AboutPage/AboutPageNew/CompareAbout/CompareAbout.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/CompareAbout/CompareMobileSelect/CompareMobileSelect.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/ExclusiveNfts/ExclusiveNfts.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/ExclusiveNfts/MobileCarouselNfts.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/LeftTokenAbout/LeftTokenAbout.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/MainBlock/MainBlock.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/PlatformAbout/PlatformAbout.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/RairOffer/RairOffer.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/RoadMapAbout/RoadMapAbout.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/StreamsAbout/StreamsAbout.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/Tokenomics/Tokenomics.tsx
  minting-marketplace/src/components/AboutPage/assets/about.ts
  minting-marketplace/src/components/AboutPage/assets/tokenomics/tokenomics.ts
  minting-marketplace/src/components/AlertMetamask/index.tsx
  minting-marketplace/src/components/adminViews/BlockchainSwitcher.tsx
  minting-marketplace/src/components/adminViews/ImportExternalContracts.tsx
  minting-marketplace/src/components/adminViews/transferTokens.tsx
  minting-marketplace/src/components/common/InputField.tsx
  minting-marketplace/src/components/common/InputSelect.tsx
  minting-marketplace/src/components/common/OnboardingButton/OnboardingButton.tsx
  minting-marketplace/src/components/common/PurchaseToken.tsx
Due: Install Dependencies and run typescript test for minting-network

updated creator studio
  minting-marketplace/src/components/ConsumerMode/BatchMinting.tsx
  minting-marketplace/src/components/ConsumerMode/DiamondMarketplace.tsx
  minting-marketplace/src/components/ConsumerMode/ERC721Consumer.tsx
  minting-marketplace/src/components/CreatorMode/CollectionManager.tsx
  minting-marketplace/src/components/CreatorMode/ERC721Manager.tsx
  minting-marketplace/src/components/CreatorMode/erc777.tsx
  minting-marketplace/src/components/CreatorMode/factory.tsx
  minting-marketplace/src/components/creatorStudio/ContractDetails.tsx
  minting-marketplace/src/components/creatorStudio/Contracts.tsx
  minting-marketplace/src/components/creatorStudio/Deploy.tsx
  minting-marketplace/src/components/creatorStudio/creatorStudio.types.ts
Due: Install Dependencies and run typescript test for minting-network

modified steps in creator studio
  minting-marketplace/src/components/creatorStudio/FixedBottomNavigation.tsx
  minting-marketplace/src/components/creatorStudio/ListCollections.tsx
  minting-marketplace/src/components/creatorStudio/NavigatorContract.tsx
  minting-marketplace/src/components/creatorStudio/NavigatorFactory.tsx
  minting-marketplace/src/components/creatorStudio/common/blockchainURIManager.tsx
  minting-marketplace/src/components/creatorStudio/common/customFeeRow.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/CustomizeFees.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/ListLocks.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/ListOffers.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/MediaUpload.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/MediaUploadRow.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/OfferRow.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/ResaleMarketplace.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/batchMetadata.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/propertyRow.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/singleMetadataEditor.tsx
  minting-marketplace/src/components/creatorStudio/workflowSteps.tsx
Due: Install Dependencies and run typescript test for minting-network

updated footer, header, diamond and creator steps in front-end
  minting-marketplace/src/components/Footer/Footer.tsx
  minting-marketplace/src/components/Footer/FooterItems/FooterItems.tsx
  minting-marketplace/src/components/FrontPage/WelcomeHeader.tsx
  minting-marketplace/src/components/GroupLogos/MainLogo.tsx
  minting-marketplace/src/components/Header/HeaderItems/HeaderItems.tsx
  minting-marketplace/src/components/Header/HeaderItems/TalkToSalesComponent/TalkSalesButton.tsx
  minting-marketplace/src/components/Header/HeaderItems/TalkToSalesComponent/TalkSalesComponent.tsx
  minting-marketplace/src/components/Header/MainHeader.tsx
  minting-marketplace/src/components/creatorStudio/diamondCreatorSteps/DiamondMinterMarketplace.tsx
  minting-marketplace/src/components/creatorStudio/diamondCreatorSteps/ListOffersDiamond.tsx
  minting-marketplace/src/components/creatorStudio/diamondCreatorSteps/MarketplaceOfferConfig.tsx
  minting-marketplace/src/components/creatorStudio/diamondCreatorSteps/diamondCustomPaymentRow.tsx
  minting-marketplace/src/components/creatorStudio/diamondCreatorSteps/diamondOfferRow.tsx
  minting-marketplace/src/components/iframePage/IframePage.tsx
  minting-marketplace/src/components/iframePage/testIframe.tsx
Due: Install Dependencies and run typescript test for minting-network

modified layout
  minting-marketplace/src/components/InquiriesPage/InquiriesItems.tsx
  minting-marketplace/src/components/InquiriesPage/InquiriesPage.tsx
  minting-marketplace/src/components/layout/Layout.tsx
  minting-marketplace/src/components/marketplace/BatchRow.tsx
  minting-marketplace/src/components/marketplace/BuyTokenModalContent.tsx
  minting-marketplace/src/components/marketplace/MinterMarketplace.tsx
  minting-marketplace/src/components/marketplace/MinterMarketplaceItem.tsx
Due: Install Dependencies and run typescript test for minting-network

updated mockup page in nftlist
  minting-marketplace/src/components/MockUpPage/FilteringBlock/FilteringBlock.tsx
  minting-marketplace/src/components/MockUpPage/FilteringBlock/FilteringBlockItems/FilteringBlockItems.tsx
  minting-marketplace/src/components/MockUpPage/FilteringBlock/filteringBlock.types.ts
  minting-marketplace/src/components/MockUpPage/FilteringBlock/modal/index.tsx
  minting-marketplace/src/components/MockUpPage/FilteringBlock/portal/BlockMinMax/BlockMinMax.tsx
  minting-marketplace/src/components/MockUpPage/FilteringBlock/portal/ModalBlockchain/ModalBlockchain.tsx
  minting-marketplace/src/components/MockUpPage/FilteringBlock/portal/ModalCategories/ModalCategories.tsx
  minting-marketplace/src/components/MockUpPage/FilteringBlock/portal/ModalItem/ModalItem.tsx
  minting-marketplace/src/components/MockUpPage/FilteringBlock/portal/index.ts
  minting-marketplace/src/components/MockUpPage/ImageLazy/ImageLazy.tsx
  minting-marketplace/src/components/MockUpPage/ImageLazy/ImageLazyItem/ImageLazy.styled.tsx
  minting-marketplace/src/components/MockUpPage/MockUpPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftItem.tsx
  minting-marketplace/src/components/MockUpPage/SearchPanel.tsx
  minting-marketplace/src/components/MockUpPage/mockUpPage.styles/NftDataPageMain.styledComponents.tsx
  minting-marketplace/src/components/MockUpPage/mockupPage.types.ts
Due: Install Dependencies and run typescript test for minting-network

updated NFT list
  minting-marketplace/src/components/MockUpPage/NftList/Breadcrumbs/Breadcrumbs.tsx
  minting-marketplace/src/components/MockUpPage/NftList/LikeButton/LikeButton.tsx
  minting-marketplace/src/components/MockUpPage/NftList/LikeButton/favoritesReducer/actions/actionFavorites.ts
  minting-marketplace/src/components/MockUpPage/NftList/LikeButton/favoritesReducer/favorites.types.ts
  minting-marketplace/src/components/MockUpPage/NftList/LikeButton/favoritesReducer/favoritesReducers.ts
  minting-marketplace/src/components/MockUpPage/NftList/NftData/BuySellButton.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/CustomShareButton.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/EtherscanIconComponent.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftCollectionPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftItemForCollectionView.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftList.tsx
  minting-marketplace/src/components/MockUpPage/NftList/OfferItem.tsx
  minting-marketplace/src/components/MockUpPage/NftList/SvgKey.tsx
  minting-marketplace/src/components/MockUpPage/NftList/SvgLock.tsx
  minting-marketplace/src/components/MockUpPage/NftList/nftList.types.ts
Due: Install Dependencies and run typescript test for minting-network

updated nftlist in minting marketplace
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataCommonLink.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataExternalLink.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataPageMain.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftSingleUnlockables.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftUnlockablesPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/SellButton.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/SellInputButton.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/SerialNumberBuySell.tsx
Due: Install Dependencies and run typescript test for minting-network

modified single token view
  minting-marketplace/src/components/MockUpPage/NftList/NftData/AuthenticityBlock/AuthenticityBlock.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/AuthenticityBlock/AuthenticityBlockItems.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/CollectionInfo/CollectionInfo.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/CollectionInfo/CollectionInfoItems.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/SingleTokenViewProperties.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/TitleSingleTokenView.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockableVideosSingleTokenPage.tsx
Due: Install Dependencies and run typescript test for minting-network

modified select box styles
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftVideoplayer/NftVideoplayer.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/TitleCollection/SharePopUp/SharePopUp.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/TitleCollection/TitleCollection.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/NftDifferentRarity/NftDifferentRarity.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/VideoPlayerView.module.css
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/VideoPlayerView.tsx
  minting-marketplace/src/components/MockUpPage/NftList/utils/gettingPrice.tsx
  minting-marketplace/src/components/MockUpPage/PaginationBox/PaginationBox.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/ItemRank.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/ItemRankItems.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/SelectBox.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/styles.css
Due: Install Dependencies and run typescript test for minting-network
