Repository ccryptoDev/rair-dev: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file, Test that frontend app builds successfully

Install Dependencies and run typescript test for minting-network:
  caches:
  - node
  script:
  - yarn --cwd ./minting-marketplace
  - cd ./minting-marketplace && ./commands/run_tsc.sh

Run yarn install and compare generated yarn lock file with committed lock file:
  caches:
  - node
  script:
  - cd ./commands/dependency_sync_check/ && ./init.sh

Test that frontend app builds successfully:
  caches:
  - node
  services:
  - docker
  script:
  - cd ./commands/bitbucket-pipelines/frontend-build-success-pipeline/ && ./init.sh

modify Jenkin
  Jenkinsfile
Due: none

update readme
  README.md
Due: none

fixed the wrong commit
  README.md
Due: none

re-test
  README.md
Due: none

wrong commit
  README.md
Due: none

modified some functions in blockchain-network
  blockchain-networks-service/bin/utils/eventCatcherUtils/eventsCommonUtils.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/index.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertCollection.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertContract.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertDiamondOffer.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertDiamondRange.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertLock.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertOffer.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertOfferPool.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertTokenClassic.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertTokenDiamond.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/metadataForContract.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/metadataForProduct.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/metadataForToken.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/updateDiamondRange.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/updateOfferClassic.js
  blockchain-networks-service/bin/utils/eventCatcherUtils_orig.js
  terraform/environments/prod/foundation/.terraform.lock.hcl
  terraform/environments/staging/foundation/.terraform.lock.hcl
  terraform/modules/kubernetes_infra/ingress.tf
  terraform/modules/kubernetes_infra/ip_addresses.tf
Due: none

update marketplace-resale
  blockchain-networks-service/bin/integrations/ethers/contracts/Resale_Marketplace.json
  docker-compose-prod.yaml
  docker-compose-web.yml
  docker-compose.local.yml
  docker-compose.yml
  minting-marketplace/src/ducks/contracts/reducer.ts
  rairnode/bin/hls-starter.js
  rairnode/bin/integrations/ethers/contracts/Resale_Marketplace.json
  rairnode/bin/utils/hls-server/httpProvider.js
  rairnode/bin/utils/hls-server/index.js
  rairnode/package.json
  rairnode/readme/get_external_contract.md
  smart-contracts/classic-contracts/contracts/Marketplaces/MarketplaceResale.sol
  smart-contracts/classic-contracts/deployments/binanceTestnet/Resale_MarketPlace.json
  smart-contracts/classic-contracts/deployments/binanceTestnet/solcInputs/c078ac5cc7161541f626f68afe416e0c.json
  smart-contracts/classic-contracts/deployments/goerli/Resale_Marketplace.json
  smart-contracts/classic-contracts/deployments/goerli/solcInputs/c078ac5cc7161541f626f68afe416e0c.json
  smart-contracts/classic-contracts/deployments/mumbai/Resale_MarketPlace.json
  smart-contracts/classic-contracts/deployments/mumbai/solcInputs/c078ac5cc7161541f626f68afe416e0c.json
  smart-contracts/classic-contracts/hardhat.config.js
  smart-contracts/classic-contracts/test/Factory.js
Due: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file, Test that frontend app builds successfully

update & modify blockchain-network
  blockchain-networks-service/bin/config/index.js
  blockchain-networks-service/bin/enums/agenda-task.js
  blockchain-networks-service/bin/index.js
  blockchain-networks-service/bin/integrations/ethers/contracts/index.js
  blockchain-networks-service/bin/models/blockchain.js
  blockchain-networks-service/bin/models/category.js
  blockchain-networks-service/bin/models/contract.js
  blockchain-networks-service/bin/models/customRoyaltiesSet.js
  blockchain-networks-service/bin/models/file.js
  blockchain-networks-service/bin/models/index.js
  blockchain-networks-service/bin/models/lockedTokens.js
  blockchain-networks-service/bin/models/metadataLink.js
  blockchain-networks-service/bin/models/mintedToken.js
  blockchain-networks-service/bin/models/offer.js
  blockchain-networks-service/bin/models/offerPool.js
  blockchain-networks-service/bin/models/pastAddress.js
  blockchain-networks-service/bin/models/product.js
  blockchain-networks-service/bin/models/resaleTokenOffer.js
  blockchain-networks-service/bin/models/syncRestriction.js
  blockchain-networks-service/bin/models/task.js
  blockchain-networks-service/bin/models/tokenMetadata.js
  blockchain-networks-service/bin/models/transaction.js
  blockchain-networks-service/bin/models/user.js
  blockchain-networks-service/bin/models/versioning.js
  blockchain-networks-service/bin/tasks/index.js
  blockchain-networks-service/bin/tasks/sync-all-721-logs.js
  blockchain-networks-service/bin/tasks/sync-resale.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/handleResaleOffer.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/index.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertCustomResaleSplits.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/updateResaleOffer.js
  blockchain-networks-service/bin/utils/eventCatcherUtils_old.js
  blockchain-networks-service/bin/utils/eventCatcherUtils_orig.js
  blockchain-networks-service/bin/utils/logUtils.js
  docker-compose.local.yml
  rairnode/bin/integrations/ethers/transactionCatcher.js
  rairnode/bin/utils/eventCatcherUtils.js
  rairnode/scripts/indexes.mongo.js
Due: none

update docker, rairnode
  docker-compose-prod.yaml
  docker-compose-web-auth.yml
  docker-compose-web.yml
  docker-compose.local.yml
  docker-compose.remote.yml
  docker-compose.yml
  media-service/bin/upload/upload.service.js
  rairnode/bin/config/index.js
  rairnode/bin/media/upload.service..js
  rairnode/bin/middleware/index.js
  rairnode/bin/middleware/isSuperAdmin.js
  rairnode/bin/routes/contracts/index.js
  rairnode/bin/routes/media.js
  rairnode/bin/verification/userVerification.controller.js
Due: none

update nft collection and nft data
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/MockUpPage/NftList/Breadcrumbs/Breadcrumbs.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftCollectionPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataCommonLink.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataPageMain.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftSingleUnlockables.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftUnlockablesPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/NftDifferentRarity/NftDifferentRarity.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftItemForCollectionView.tsx
  minting-marketplace/src/components/MockUpPage/mockupPage.types.ts
  minting-marketplace/src/components/SplashPage/NFTNYC/NFTNYC.tsx
  minting-marketplace/src/components/SplashPage/NotCommercial-2/NotCommercial-2.css
  minting-marketplace/src/components/SplashPage/NotCommercial-2/NotCommercialTemplate-2.tsx
  minting-marketplace/src/components/SplashPage/RAIRGenesis/RAIRGenesis.css
  minting-marketplace/src/components/SplashPage/RAIRGenesis/RAIRGenesis.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/AuthorCard/AuthorCard.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamMeetList.tsx
  minting-marketplace/src/components/SplashPage/images/TV-RAIR-StandardColor-0.gif
  minting-marketplace/src/components/SplashPage/images/creator-flow.png
  minting-marketplace/src/components/SplashPage/images/genesis_member.png
  minting-marketplace/src/components/SplashPage/images/nonCommercial2-modified.png
  minting-marketplace/src/components/SplashPage/images/nonCommercial2.png
  terraform/environments/dev/kubernetes/main.tf
  terraform/environments/prod/kubernetes/.terraform.lock.hcl
  terraform/environments/prod/kubernetes/main.tf
  terraform/environments/staging/kubernetes/main.tf
Due: Install Dependencies and run typescript test for minting-network, Test that frontend app builds successfully

update favorite function
  rairnode/README.md
  rairnode/bin/middleware/isOwner.js
  rairnode/bin/models/favoriteTokens.js
  rairnode/bin/models/index.js
  rairnode/bin/routes/media.js
  rairnode/bin/schemas/createFavoriteToken.js
  rairnode/bin/schemas/index.js
  rairnode/bin/tokens/favorite.Controller.js
  rairnode/bin/tokens/favoriteTokens.Service.js
  rairnode/bin/tokens/tokens.Controller.js
  rairnode/bin/utils/entityFactory.js
  rairnode/readme/create_favoriteToken.md
  rairnode/readme/delete_favoriteToken.md
  rairnode/readme/get_list_of_favoriteTokens.md
  rairnode/scripts/indexes.mongo.js
Due: none

updaet environment
  Jenkinsfile
  minting-marketplace/src/components/SplashPage/PurchaseChecklist/PurchaseChecklist.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamMeetList.tsx
  minting-marketplace/src/components/SplashPage/VaporverseSplash/VaporverseSplashPage.tsx
  minting-marketplace/src/components/creatorStudio/workflowSteps.tsx
  terraform/environments/cloudflare/rair_market.tf
  terraform/environments/dev/foundation/main.tf
  terraform/environments/prod/foundation/main.tf
  terraform/environments/prod/kubernetes/configmaps.tf
  terraform/environments/prod/kubernetes/main.tf
  terraform/environments/shared/env_config/outputs.tf
  terraform/environments/staging/foundation/main.tf
  terraform/environments/staging/kubernetes/configmaps.tf
  terraform/modules/kubernetes_infra/blockchain-event-listener.tf
  terraform/modules/kubernetes_infra/rairnode.tf
Due: Install Dependencies and run typescript test for minting-network, Test that frontend app builds successfully

update resale front-end
  blockchain-networks-service/bin/utils/eventCatcherUtils/eventsCommonUtils.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/metadataForContract.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/metadataForProduct.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/metadataForToken.js
  docker-compose-prod.yaml
  docker-compose-web-auth.yml
  docker-compose-web.yml
  docker-compose.remote.yml
  kubernetes-manifests/configmaps/environment/dev/rair-ingress.yaml
  kubernetes-manifests/dev-manifest/minting-network.yaml
  minting-marketplace/nginx/new-nginx.conf
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/AboutPageNew.css
  minting-marketplace/src/components/AlertMetamask/styles.tsx
  minting-marketplace/src/components/Footer/Footer.tsx
  minting-marketplace/src/components/Header/DiscordIcon.tsx
  minting-marketplace/src/components/Header/HeaderItems/TalkToSalesComponent/TalkSalesButton.tsx
  minting-marketplace/src/components/Header/HeaderItems/TalkToSalesComponent/TalkSalesComponent.tsx
  minting-marketplace/src/components/Header/MainHeader.tsx
  minting-marketplace/src/components/InquiriesPage/InquiriesItems.tsx
  minting-marketplace/src/components/InquiriesPage/InquiriesPage.css
  minting-marketplace/src/components/InquiriesPage/InquiriesPage.tsx
  minting-marketplace/src/components/MockUpPage/GeneralCollectionStyles.css
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftSingleUnlockables.css
  minting-marketplace/src/components/MockUpPage/SelectBox/styles.css
  minting-marketplace/src/components/Navigation/Menu.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileNavigationList.tsx
  minting-marketplace/src/components/Navigation/NavigationItems/NavigationItems.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/AuthorCard/AuthorCard.css
  minting-marketplace/src/styled-components/nft/AppContainer.tsx
  rairnode/bin/routes/nft/index.js
  rairnode/bin/tokens/tokens.Service.js
Due: Install Dependencies and run typescript test for minting-network, Test that frontend app builds successfully

update redux, nft single metadata
  kubernetes-manifests/configmaps/environment/staging/rair-ingress.yaml
  kubernetes-manifests/dev-manifest/minting-network.yaml
  minting-marketplace/public/favicon-ukraine.ico
  minting-marketplace/src/App.css
  minting-marketplace/src/App.tsx
  minting-marketplace/src/axios.responseTypes.ts
  minting-marketplace/src/components/AlertMetamask/alertMetamask.types.ts
  minting-marketplace/src/components/AlertMetamask/index.tsx
  minting-marketplace/src/components/AlertMetamask/styles.tsx
  minting-marketplace/src/components/ConsumerMode/BatchMinting.tsx
  minting-marketplace/src/components/ConsumerMode/DiamondMarketplace.tsx
  minting-marketplace/src/components/ConsumerMode/ERC721Consumer.tsx
  minting-marketplace/src/components/ConsumerMode/consumerMode.types.ts
  minting-marketplace/src/components/Header/HeaderItems/HeaderItems.tsx
  minting-marketplace/src/components/Header/MainHeader.tsx
  minting-marketplace/src/components/MockUpPage/MockUpPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/EtherscanIconComponent.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataCommonLink.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataPageMain.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/SerialNumberBuySell.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/NftDifferentRarity/NftDifferentRarity.tsx
  minting-marketplace/src/components/MockUpPage/SearchPanel.tsx
  minting-marketplace/src/components/MockUpPage/mockupPage.types.ts
  minting-marketplace/src/components/marketplace/BuyTokenModalContent.tsx
  minting-marketplace/src/components/marketplace/MinterMarketplaceItem.tsx
  minting-marketplace/src/components/marketplace/marketplace.types.ts
  minting-marketplace/src/ducks/nftData/action.ts
  minting-marketplace/src/ducks/videos/actions.ts
  minting-marketplace/src/utils/CheckEthereumChain.ts
  minting-marketplace/src/utils/blockchainData.ts
Due: Install Dependencies and run typescript test for minting-network, Test that frontend app builds successfully

update user profile, popup
  kubernetes-manifests/configmaps/environment/coinagenda2021/BackendConfig.yaml
  kubernetes-manifests/configmaps/environment/coinagenda2021/FrontendConfig.yaml
  kubernetes-manifests/configmaps/environment/coinagenda2021/configmap-blockchain-event-listener.yaml
  kubernetes-manifests/configmaps/environment/coinagenda2021/configmap-ingress.yaml
  kubernetes-manifests/configmaps/environment/coinagenda2021/configmap-media-service.yaml
  kubernetes-manifests/configmaps/environment/coinagenda2021/configmap-minting-network.yaml
  kubernetes-manifests/configmaps/environment/coinagenda2021/configmap-rairnode.yaml
  kubernetes-manifests/configmaps/environment/coinagenda2021/managed-cert.yaml
  kubernetes-manifests/configmaps/environment/coinagenda2021/rair-ingress.yaml
  kubernetes-manifests/configmaps/environment/secrets/coinagenda2021/.gitignore
  minting-marketplace/Dockerfile.prod
  minting-marketplace/src/components/InquiriesPage/InquiriesPage.tsx
  minting-marketplace/src/components/SplashPage/CoinAgenda2021/CoinAgenda2021.tsx
  minting-marketplace/src/components/UserProfileSettings/EditMode/EditMode.tsx
  minting-marketplace/src/components/UserProfileSettings/PopUpSetting.tsx
  minting-marketplace/src/components/UserProfileSettings/UserProfileSettings.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileIcon/PersonalProfileIcon.tsx
  minting-marketplace/src/ducks/users/actions.ts
Due: Install Dependencies and run typescript test for minting-network, Test that frontend app builds successfully

update jenkin
  Jenkinsfile
Due: none

add nft datatype, reducer and saga
  minting-marketplace/src/components/MockUpPage/GeneralCollectionStyles.css
  minting-marketplace/src/components/MockUpPage/MockUpPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftItem.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftItemForCollectionView.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftList.tsx
  minting-marketplace/src/components/MockUpPage/NftList/OfferItem.tsx
  minting-marketplace/src/components/MockUpPage/NftList/SvgKey.tsx
  minting-marketplace/src/components/MockUpPage/NftList/SvgKeyForModalItem.tsx
  minting-marketplace/src/components/MockUpPage/NftList/SvgLock.tsx
  minting-marketplace/src/components/MockUpPage/NftList/nftList.types.ts
  minting-marketplace/src/components/MockUpPage/PaginationBox/PaginationBox.tsx
  minting-marketplace/src/components/MockUpPage/SearchPanel.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/ItemRank.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/ItemRankItems.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/SelectBox.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/selectBox.types.ts
  minting-marketplace/src/components/MockUpPage/mockupPage.types.ts
  minting-marketplace/src/components/video/video.types.ts
  minting-marketplace/src/components/video/videoList.tsx
  minting-marketplace/src/ducks/nftData/nftData.types.ts
  minting-marketplace/src/ducks/videos/reducers.ts
  minting-marketplace/src/ducks/videos/videosDucks.types.ts
Due: Install Dependencies and run typescript test for minting-network, Test that frontend app builds successfully

update minting marketplace
  minting-marketplace/src/App.tsx
Due: Install Dependencies and run typescript test for minting-network, Test that frontend app builds successfully

add some function to ffmpeg, minter marketplace
  Jenkinsfile
  kubernetes-manifests/configmaps/environment/coinagenda2021/rair-ingress.yaml
  media-service/bin/upload/upload.service.js
  media-service/bin/utils/ffmpegUtils.js
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/marketplace/MinterMarketplace.tsx
  minting-marketplace/src/ducks/index.ts
  terraform/environments/cloudflare/rair_market.tf
Due: Install Dependencies and run typescript test for minting-network, Test that frontend app builds successfully

update blockchain event listener
  kubernetes-manifests/configmaps/environment/demo/BackendConfig.yaml
  kubernetes-manifests/configmaps/environment/demo/FrontendConfig.yaml
  kubernetes-manifests/configmaps/environment/demo/configmap-blockchain-event-listener.yaml
  kubernetes-manifests/configmaps/environment/demo/configmap-ingress.yaml
  kubernetes-manifests/configmaps/environment/demo/configmap-media-service.yaml
  kubernetes-manifests/configmaps/environment/demo/configmap-minting-network.yaml
  kubernetes-manifests/configmaps/environment/demo/configmap-rairnode.yaml
  kubernetes-manifests/configmaps/environment/demo/managed-cert.yaml
  kubernetes-manifests/configmaps/environment/demo/rair-ingress.yaml
  kubernetes-manifests/configmaps/environment/secrets/demo/.gitignore
  kubernetes-manifests/dev-manifest/blockchain-event-listener.yaml
  kubernetes-manifests/dev-manifest/media-service.yaml
  kubernetes-manifests/dev-manifest/minting-network.yaml
  kubernetes-manifests/dev-manifest/rairnode.yaml
  terraform/environments/cloudflare/rair_market.tf
Due: none

update docker
  terraform/environments/dev/kubernetes/configmaps.tf
  terraform/environments/prod/kubernetes/configmaps.tf
  terraform/environments/staging/kubernetes/configmaps.tf
  terraform/modules/foundation/iam_policies.tf
  terraform/modules/foundation/service_accounts.tf
  terraform/modules/foundation/storage.tf
Due: none

update collectin style and videolist
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/MockUpPage/GeneralCollectionStyles.css
  minting-marketplace/src/components/video/videoList.tsx
Due: Install Dependencies and run typescript test for minting-network, Test that frontend app builds successfully

update blockchain network service
  blockchain-networks-service/bin/tasks/sync-diamond-contracts.js
  rairnode/bin/integrations/ethers/tokenValidation.js
  rairnode/bin/routes/auth.js
Due: none

update configs
  blockchain-networks-service/bin/shared_backend_code_generated/config/applicationConfig.js
  blockchain-networks-service/bin/shared_backend_code_generated/integrations/gcp/index.js
  media-service/bin/shared_backend_code_generated/config/applicationConfig.js
  media-service/bin/shared_backend_code_generated/integrations/gcp/index.js
  media-service/bin/shared_backend_code_generated/vault/vaultUtils.js
  rairnode/bin/integrations/gcp/index.js
  rairnode/bin/shared_backend_code_generated/config/applicationConfig.js
  rairnode/bin/shared_backend_code_generated/integrations/gcp/index.js
  shared_backend_code_source/config/applicationConfig.js
  shared_backend_code_source/integrations/gcp/index.js
  terraform/environments/dev/kubernetes/configmaps.tf
  terraform/modules/kubernetes_infra/rairnode.tf
Due: none

update admin-view, authentication
  minting-marketplace/src/App.tsx
  minting-marketplace/src/axios.responseTypes.ts
  minting-marketplace/src/components/AboutPage/AboutPageNew/AboutPageNew.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/StreamsAbout/StreamsAbout.tsx
  minting-marketplace/src/components/MockUpPage/NftList/Breadcrumbs/Breadcrumbs.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/AuthenticityBlock/AuthenticityBlock.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/AuthenticityBlock/AuthenticityBlockItems.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/CollectionInfo/CollectionInfo.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/CollectionInfo/CollectionInfoItems.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftCollectionPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataCommonLink.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataExternalLink.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataPageMain.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftListUnlockablesVideos.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftSingleUnlockables.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftUnlockablesPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/OldNftDataPageMain.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/SellButton.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/SellInputButton.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/SerialNumberBuySell.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftItemForCollectionView.tsx
  minting-marketplace/src/components/MockUpPage/NftList/SvgLock.tsx
  minting-marketplace/src/components/MockUpPage/NftList/nftList.types.ts
  minting-marketplace/src/components/MockUpPage/mockupPage.types.ts
  minting-marketplace/src/components/adminViews/adminView.types.ts
  minting-marketplace/src/components/common/commonTypes/InputSelectTypes.types.ts
  minting-marketplace/src/components/creatorStudio/ListCollections.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/MediaUpload.tsx
  minting-marketplace/src/components/creatorStudio/creatorSteps/MediaUploadRow.tsx
  minting-marketplace/src/components/creatorStudio/creatorStudio.types.ts
  minting-marketplace/src/components/marketplace/marketplace.types.ts
  minting-marketplace/src/index.css
Due: Install Dependencies and run typescript test for minting-network, Test that frontend app builds successfully

Update popup dialog, videoplayer
  minting-marketplace/src/components/MockUpPage/NftList/NftData/TitleCollection/SharePopUp/SharePopUp.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/NftDifferentRarity/NftDifferentRarity.module.css
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/NftDifferentRarity/NftDifferentRarity.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/VideoPlayerView.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/videoPlayerView.types.ts
  minting-marketplace/src/components/MockUpPage/NftList/utils/gettingPrice.tsx
  minting-marketplace/src/components/MockUpPage/PaginationBox/PaginationBox.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/SelectNumber/SelectNumber.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/selectBox.types.ts
  minting-marketplace/src/components/MockUpPage/utils/button/CustomButton.tsx
  minting-marketplace/src/components/MockUpPage/utils/button/ShowMoreItems.tsx
  minting-marketplace/src/components/SplashPage/NFTLASplashPage.tsx
  minting-marketplace/src/components/SplashPage/images/wallstreet.png
  minting-marketplace/src/components/SplashPage/images/wallstreet1.png
  minting-marketplace/src/components/SplashPage/images/wallstreet2.png
  minting-marketplace/src/components/SplashPage/splashPage.types.ts
Due: Install Dependencies and run typescript test for minting-network, Test that frontend app builds successfully

Path conditions:
  Install Dependencies and run typescript test for minting-network: any of: minting-marketplace/**
  Run yarn install and compare generated yarn lock file with committed lock file: any of: **/package.json, **/yarn.lock
  Test that frontend app builds successfully: any of: minting-marketplace/**
