Repository ccryptoDev/rair-dev: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file

bitbucket-pipelines.yml:

image: node:16.13.0

pipelines:
  pull-requests:
    '**': #this runs as default for any branch not elsewhere defined
      - step:
          name: Install Dependencies and run typescript test for minting-network
          caches:
            - node
          script:
            - yarn --cwd ./minting-marketplace
            - cd ./minting-marketplace && ./commands/run_tsc.sh
          condition:
            changesets:
              includePaths:
                - "minting-marketplace/**"
      - step:
          name: Run yarn install and compare generated yarn lock file with committed lock file
          caches:
            - node
          script:
            - cd ./commands/dependency_sync_check/ && ./init.sh
          condition:
            changesets:
              includePaths:
                - "**/package.json"
                - "**/yarn.lock"
    feature/*: #any branch with a feature prefix
      - step:
          name: Install Dependencies and run typescript test for minting-network
          caches:
            - node
          script:
            - yarn --cwd ./minting-marketplace
            - cd ./minting-marketplace && ./commands/run_tsc.sh
          condition:
            changesets:
              includePaths:
                - "minting-marketplace/**"
  #branches: #these will run on every push of the branch
  #  dev:
  #    - step:
  #        script:
  #          - ...
  #  main:
  #    - step:
  #        script:
  #          - ...

updated mobile view of menu
  minting-marketplace/src/components/MockUpPage/SelectBox/SelectNumber/CurrentTokens/CurrentTokens.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/SelectNumber/ListOfTokens/ListOfTokens.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/SelectNumber/SelectNumber.tsx
  minting-marketplace/src/components/MockUpPage/utils/button/CustomButton.tsx
  minting-marketplace/src/components/MockUpPage/utils/button/ShowMoreItems.tsx
  minting-marketplace/src/components/Navigation/Menu.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileChoiseNav.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileEditProfile.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileListMenu.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileNavigationList.tsx
Due: Install Dependencies and run typescript test for minting-network

modified token types
  minting-marketplace/src/components/Navigation/MenuComponents/MobileProfileInfo.tsx
  minting-marketplace/src/components/Navigation/NavigationItems/NavigationItems.tsx
  minting-marketplace/src/components/nft/Token.tsx
  minting-marketplace/src/components/nft/myDiamondItems.tsx
  minting-marketplace/src/components/nft/myItems.tsx
  minting-marketplace/src/components/nft/nft.types.ts
  minting-marketplace/src/components/nft/rairCollection.tsx
Due: Install Dependencies and run typescript test for minting-network

modified favorite items in profile
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileBackground/PersonalProfileBackground.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/BtnMyFavorite/BtnMyFavorite.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/MyfavoriteItem/MyfavoriteItem.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/PersonalProfileFavoritesTab.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileIcon/PersonalProfileIcon.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileMyNftTab/PersonalProfileMyNftTab.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileMyVideoTab/PersonalProfileMyVideoTab.tsx
Due: Install Dependencies and run typescript test for minting-network

upgraded splash pages
  minting-marketplace/src/components/NotFound/NotFound.tsx
  minting-marketplace/src/components/SeoTags/MetaTags.tsx
  minting-marketplace/src/components/SplashPage/AuthorBlock/AuthorBlock.tsx
  minting-marketplace/src/components/SplashPage/CoinAgenda2021/CoinAgenda2021.tsx
  minting-marketplace/src/components/SplashPage/DefaultButtonBlock.tsx
  minting-marketplace/src/components/SplashPage/GreymanSplashPage.tsx
  minting-marketplace/src/components/SplashPage/ImmersiVerseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/NFTLASplashPage.tsx
  minting-marketplace/src/components/SplashPage/WarningModal.tsx
  minting-marketplace/src/components/SplashPage/index.tsx
  minting-marketplace/src/components/SplashPage/splashPageProductsHook.ts
Due: Install Dependencies and run typescript test for minting-network

updated splash pages
  minting-marketplace/src/components/SplashPage/CommingSoon/ComingSoonNut.tsx
  minting-marketplace/src/components/SplashPage/CommingSoon/CommingSoon.tsx
  minting-marketplace/src/components/SplashPage/ExclusiveNft/ExclusiveNft.tsx
  minting-marketplace/src/components/SplashPage/images/NFTLA/nftLA.ts
  minting-marketplace/src/components/SplashPage/images/NFTNYC/nftnyc.ts
  minting-marketplace/src/components/SplashPage/images/UkraineGlitch/urkaineGlitch.ts
  minting-marketplace/src/components/SplashPage/images/greyMan/grayMan.ts
  minting-marketplace/src/components/SplashPage/images/nutcrackers/nutcrackers.ts
  minting-marketplace/src/components/SplashPage/images/rairGenesis/rairGenesis.ts
  minting-marketplace/src/components/SplashPage/images/slideLock/slideLock.ts
  minting-marketplace/src/components/SplashPage/images/splashPageImages/splashPage.ts
  minting-marketplace/src/components/SplashPage/images/teamMeetList/teamMeetList.ts
  minting-marketplace/src/components/SplashPage/images/vaporverse/vaporverse.ts
  minting-marketplace/src/components/SplashPage/images/wallstreet80sclub/wallstreet80sclub.ts
Due: Install Dependencies and run typescript test for minting-network

modified not-commercial in splashpage
  minting-marketplace/src/components/SplashPage/JoinCom/JoinCom.tsx
  minting-marketplace/src/components/SplashPage/NFTNYC/NFTNYC.tsx
  minting-marketplace/src/components/SplashPage/NipseyRelease/NipseyRelease.tsx
  minting-marketplace/src/components/SplashPage/NotCommercial-2/NotCommercialTemplate-2.tsx
  minting-marketplace/src/components/SplashPage/NotCommercial/NotCommercial.tsx
  minting-marketplace/src/components/SplashPage/NotCommercial/NotCommercialGeneric.tsx
  minting-marketplace/src/components/SplashPage/NotCommercial/NotCommercialTemplate.tsx
Due: Install Dependencies and run typescript test for minting-network

modified minting marketplace splash components
  minting-marketplace/src/components/SplashPage/Nutcrackers/Nutcrackers.tsx
  minting-marketplace/src/components/SplashPage/PurchaseChecklist/ButtonHelp.tsx
  minting-marketplace/src/components/SplashPage/PurchaseChecklist/PurchaseChecklist.tsx
  minting-marketplace/src/components/SplashPage/RAIRGenesis/RAIRGenesis.tsx
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.tsx
  minting-marketplace/src/components/SplashPage/SlideLock/SlideLock.tsx
Due: Install Dependencies and run typescript test for minting-network

updated carousel and author card
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/AuthorCard/AuthorCard.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/AuthorCard/AuthorCardButton.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/Carousel/Carousel.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/DonationSquares/DonationGrid.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/DonationSquares/DonationSquare.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/ModalHelp.tsx
Due: Install Dependencies and run typescript test for minting-network

updated videoplayer, nft counter
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/NFTCounter/NFTCounter.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/NFTCounter/NFTCounterTemplate.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/NFTImages/NFTImages.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/StaticVideoTiles/StaticTiles.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/TimelineGeneric/TimelineGeneric.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoPlayer/ShowVideoToLoggedInUsers.tsx
Due: Install Dependencies and run typescript test for minting-network

updated video
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoPlayer/VideoPlayerBySignature .tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoPlayer/VideoPlayerModule.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoTiles/StaticTiles.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoTiles/VideoTiles.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoTiles/VideoTilesItem.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoTiles/VideosTilesTest.tsx
Due: Install Dependencies and run typescript test for minting-network

modified teammeet in splash page
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamComponentCommon.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamMeetList.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/Teammate.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeammateDesc.tsx
Due: Install Dependencies and run typescript test for minting-network

upgraded splash page
  minting-marketplace/src/components/SplashPage/Timeline/Timeline.tsx
  minting-marketplace/src/components/SplashPage/Timer/CountDown.tsx
  minting-marketplace/src/components/SplashPage/TokenLeft/TokenLeft.tsx
  minting-marketplace/src/components/SplashPage/TokenLeft/TokenLeftGreyman.tsx
  minting-marketplace/src/components/SplashPage/TokenLeft/TokenLeftTemplate.tsx
  minting-marketplace/src/components/SplashPage/UkraineGlitchSplashPage/UkraineSplashPage.tsx
  minting-marketplace/src/components/SplashPage/UnlockVideos/UnlockVideoItem.tsx
  minting-marketplace/src/components/SplashPage/UnlockVideos/UnlockVideos.tsx
  minting-marketplace/src/components/SplashPage/VaporverseSplash/VaporverseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/wallstreet80sclub/wallstreet80sclub.tsx
Due: Install Dependencies and run typescript test for minting-network

updated user profiles
  minting-marketplace/src/components/ThankYouPage/index.tsx
  minting-marketplace/src/components/UserProfileSettings/EditMode/EditMode.tsx
  minting-marketplace/src/components/UserProfileSettings/NotificationPage/NotificationPage.tsx
  minting-marketplace/src/components/UserProfileSettings/PopUpNotification/PopUpNotification.tsx
  minting-marketplace/src/components/UserProfileSettings/PopUpSetting.tsx
  minting-marketplace/src/components/UserProfileSettings/UploadProfilePicture/Edit/Edit.tsx
  minting-marketplace/src/components/UserProfileSettings/UploadProfilePicture/ImageUpload/ImageUpload.tsx
  minting-marketplace/src/components/UserProfileSettings/UploadProfilePicture/Name/Name.tsx
  minting-marketplace/src/components/UserProfileSettings/UploadProfilePicture/Profile/Profile.tsx
  minting-marketplace/src/components/UserProfileSettings/UploadProfilePicture/Status/Status.tsx
  minting-marketplace/src/components/UserProfileSettings/UploadProfilePicture/UploadProfilePicture.tsx
  minting-marketplace/src/components/UserProfileSettings/UserProfileSettings.tsx
Due: Install Dependencies and run typescript test for minting-network

updated video and whitelist
  minting-marketplace/src/components/video/videoItem.tsx
  minting-marketplace/src/components/video/videoList.tsx
  minting-marketplace/src/components/video/videoPlayer.tsx
  minting-marketplace/src/components/video/videoPlayerGenerall.tsx
  minting-marketplace/src/components/video/videoUpload/videoUpload.tsx
Due: Install Dependencies and run typescript test for minting-network

modified components
  minting-marketplace/src/components/whitelabel/AddOffer.tsx
  minting-marketplace/src/components/whitelabel/Contract.tsx
  minting-marketplace/src/components/whitelabel/CreateProduct.tsx
  minting-marketplace/src/components/whitelabel/DeployContracts.tsx
  minting-marketplace/src/components/whitelabel/LockRange.tsx
  minting-marketplace/src/components/whitelabel/customizePayRate.tsx
  minting-marketplace/src/components/whitelabel/myContracts.tsx
  minting-marketplace/src/contexts/CreatorWorkflowContext.ts
Due: Install Dependencies and run typescript test for minting-network

updated reducers and saga
  minting-marketplace/src/contracts/index.ts
  minting-marketplace/src/ducks/auth/actions.ts
  minting-marketplace/src/ducks/auth/auth.types.ts
  minting-marketplace/src/ducks/auth/sagas.ts
  minting-marketplace/src/ducks/colors/colorStore.types.ts
  minting-marketplace/src/ducks/colors/reducer.ts
  minting-marketplace/src/ducks/contracts/actions.ts
  minting-marketplace/src/ducks/contracts/contracts.types.ts
  minting-marketplace/src/ducks/contracts/reducer.ts
  minting-marketplace/src/ducks/index.ts
  minting-marketplace/src/ducks/metadata/actions.ts
  minting-marketplace/src/ducks/metadata/sagas.ts
  minting-marketplace/src/ducks/nftData/action.ts
  minting-marketplace/src/ducks/nftData/nftData.types.ts
  minting-marketplace/src/ducks/nftData/saga.ts
  minting-marketplace/src/ducks/pages/actions.ts
  minting-marketplace/src/ducks/sagas.ts
  minting-marketplace/src/ducks/search/actions.ts
  minting-marketplace/src/ducks/search/sagas.ts
  minting-marketplace/src/ducks/search/search.types.ts
  minting-marketplace/src/ducks/seo/actions.ts
  minting-marketplace/src/ducks/seo/reducers.ts
Due: Install Dependencies and run typescript test for minting-network

added social and video into minter marketplace
  minting-marketplace/src/ducks/users/actions.ts
  minting-marketplace/src/ducks/users/sagas.ts
  minting-marketplace/src/ducks/videos/actions.ts
  minting-marketplace/src/ducks/videos/sagas.ts
  minting-marketplace/src/ducks/videos/videosDucks.types.ts
  minting-marketplace/src/hooks/useWindowDimensions.tsx
  minting-marketplace/src/images/index.tsx
  minting-marketplace/src/styled-components/SocialLinkIcons/SocialLinkIcons.tsx
  minting-marketplace/src/styled-components/nft/AppContainer.tsx
  minting-marketplace/src/styled-components/nft/AppContainer.types.tsx
  minting-marketplace/src/temp_unused_components/OldNftDataPageMain.tsx
  minting-marketplace/src/utils/CheckEthereumChain.ts
  minting-marketplace/src/utils/blockchainData.ts
  minting-marketplace/src/utils/googleAnalytics.tsx
Due: Install Dependencies and run typescript test for minting-network

updated services and tokens in rairnode
  minting-marketplace/src/utils/metamaskUtils.ts
  minting-marketplace/src/utils/rFetch.ts
  rairnode/.eslintrc.json
  rairnode/README.md
  rairnode/bin/contracts/contracts.Controller.js
  rairnode/bin/contracts/contracts.Service.js
  rairnode/bin/models/contract.js
  rairnode/bin/tokens/tokens.Controller.js
  rairnode/bin/tokens/tokens.Service.js
  rairnode/bin/utils/errors/mainErrorHandler.js
  rairnode/readme/get_tokens.md
  rairnode/scripts/cleanupDuplicateDB.js
Due: Install Dependencies and run typescript test for minting-network

modified mainpage in minting marketplace
  minting-marketplace/package.json
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/MainPage/MainPage.module.css
  minting-marketplace/src/components/MainPage/MainPage.tsx
  minting-marketplace/src/components/MainPage/MainPage_ConflictingGlobalStyles.css
  minting-marketplace/src/components/MainPage/components/LogoCarousel.module.css
  minting-marketplace/src/components/MainPage/components/LogoCarousel.tsx
  minting-marketplace/src/components/MainPage/hooks/getProductsHookGeneral.ts
  minting-marketplace/src/components/MainPage/types/logocarousel.types.ts
  minting-marketplace/src/components/MainPage/types/mainpage.types.ts
  minting-marketplace/src/components/common/PurchaseToken.tsx
  minting-marketplace/src/components/common/commonTypes/PurchaseTokenTypes.types.ts
  minting-marketplace/src/index.css
  minting-marketplace/yarn.lock
Due: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file

added fonts into minting marketplace
  minting-marketplace/src/components/SplashPage/JoinCom/JoinCom.tsx
  minting-marketplace/src/fonts/Inter/Inter-VariableFontwght.ttf
  minting-marketplace/src/fonts/Inter/OFL.txt
  minting-marketplace/src/fonts/Inter/README.txt
  minting-marketplace/src/fonts/Inter/static/Inter-Black.ttf
  minting-marketplace/src/fonts/Inter/static/Inter-Bold.ttf
  minting-marketplace/src/fonts/Inter/static/Inter-ExtraBold.ttf
  minting-marketplace/src/fonts/Inter/static/Inter-ExtraLight.ttf
  minting-marketplace/src/fonts/Inter/static/Inter-Light.ttf
  minting-marketplace/src/fonts/Inter/static/Inter-Medium.ttf
  minting-marketplace/src/fonts/Inter/static/Inter-Regular.ttf
  minting-marketplace/src/fonts/Inter/static/Inter-SemiBold.ttf
  minting-marketplace/src/fonts/Inter/static/Inter-Thin.ttf
Due: Install Dependencies and run typescript test for minting-network

updated diamond contract
  blockchain-demos/diamond-manager/src/App.jsx
  blockchain-demos/diamond-manager/src/contractAbis/0x1/DiamondCutFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x1/DiamondLoupeFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x1/FeesFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x1/MarketplaceDiamond.json
  blockchain-demos/diamond-manager/src/contractAbis/0x1/MintingOffersFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x1/OwnershipFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x13881/RAIRMetadataFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x38/RAIRMetadataFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/RAIRMetadataFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/05e3e1fcec061a25cba681e00e4be9f2.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/4172b6c7bff8b9f08fcb14d11f26f057.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/5c9a6b1e2bb30fb69effbccc20e83a24.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/a446610c060a6745d4cfb6e5a68547b8.json
  kubernetes-manifests/configmaps/environment/mainnet/api-ingress.yaml
  kubernetes-manifests/configmaps/environment/mainnet/configmap-media-service.yaml
  kubernetes-manifests/configmaps/environment/mainnet/configmap-rairnode.yaml
Due: none

modified diamond contract
  blockchain-demos/diamond-manager/src/contractAbis/0x61/RAIRMetadataFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x89/RAIRMetadataFacet.json
  blockchain-networks-service/bin/middleware/verification.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertDiamondOffer.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertTokenDiamond.js
  blockchain-networks-service/bin/utils/logUtils.js
  kubernetes-manifests/configmaps/environment/dev/configmap-blockchain-event-listener.yaml
  kubernetes-manifests/configmaps/environment/dev/configmap-rairnode.yaml
  kubernetes-manifests/configmaps/environment/mainnet/ms-managed-cert.yaml
Due: none

modified media files
  kubernetes-manifests/configmaps/environment/mainnet/BackendConfig.yaml
  kubernetes-manifests/configmaps/environment/mainnet/FrontendConfig.yaml
  kubernetes-manifests/configmaps/environment/mainnet/api-managed-cert.yaml
  kubernetes-manifests/configmaps/environment/mainnet/configmap-blockchain-event-listener.yaml
  kubernetes-manifests/configmaps/environment/mainnet/configmap-ingress.yaml
  kubernetes-manifests/configmaps/environment/mainnet/configmap-minting-network.yaml
  kubernetes-manifests/configmaps/environment/mainnet/managed-cert.yaml
  kubernetes-manifests/configmaps/environment/mainnet/media-service-ingress.yaml
  kubernetes-manifests/configmaps/environment/mainnet/rair-ingress.yaml
  kubernetes-manifests/configmaps/environment/secrets/mainnet/.gitignore
Due: none

updated minting marketplace
  kubernetes-manifests/configmaps/environment/staging/configmap-blockchain-event-listener.yaml
  kubernetes-manifests/configmaps/environment/staging/configmap-rairnode.yaml
  kubernetes-manifests/mainnet-manifests/blockchain-event-listener.yaml
  kubernetes-manifests/mainnet-manifests/media-service.yaml
  kubernetes-manifests/mainnet-manifests/minting-network.yaml
  kubernetes-manifests/mainnet-manifests/rairnode.yaml
  kubernetes-manifests/mainnet-manifests/redis.yaml
  media-service/bin/integrations/gcp/index.js
  media-service/bin/integrations/ipfsService/ipfs.js
  media-service/bin/integrations/ipfsService/pinata.js
  media-service/bin/upload/upload.service.js
  media-service/bin/utils/ffmpegUtils.js
  minting-marketplace/package.json
  minting-marketplace/yarn.lock
Due: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file

added media files
  minting-marketplace/public/favicons/favicon-ukraine.ico
  minting-marketplace/public/favicons/favicon.ico
  minting-marketplace/public/favicons/favicon.png
  minting-marketplace/public/favicons/favicon2.png
  minting-marketplace/public/favicons/faviconRairWhite.ico
  minting-marketplace/public/favicons/faviconukrg.ico
  minting-marketplace/public/favicons/rair_favicon.ico
  minting-marketplace/public/index.html
  minting-marketplace/public/logo192.png
  minting-marketplace/public/logo512.png
Due: Install Dependencies and run typescript test for minting-network

Updated mainpage and niftlist
  minting-marketplace/src/App.css
  minting-marketplace/src/components/AboutPage/assets/about.ts
  minting-marketplace/src/components/AboutPage/assets/carston-hs.webp
  minting-marketplace/src/components/Header/MainHeader.tsx
  minting-marketplace/src/components/MainPage/MainPage.module.css
  minting-marketplace/src/components/MainPage/MainPage.tsx
  minting-marketplace/src/components/MainPage/MainPage_ConflictingGlobalStyles.css
  minting-marketplace/src/components/MainPage/components/LogoCarousel.module.css
  minting-marketplace/src/components/MockUpPage/GeneralCollectionStyles.css
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockableVideosSingleTokenPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/VideoPlayerView.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftItem.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftItemForCollectionView.tsx
  minting-marketplace/src/components/creatorStudio/common/blockchainURIManager.tsx
  minting-marketplace/src/components/iframePage/IframePage.tsx
  minting-marketplace/src/components/iframePage/iframeStyles.css
Due: Install Dependencies and run typescript test for minting-network

updated images and styles
  minting-marketplace/src/components/MockUpPage/SelectBox/ItemRankItems.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/styles.css
  minting-marketplace/src/components/SplashPage/CoinAgenda2021/CoinAgenda2021.tsx
  minting-marketplace/src/components/SplashPage/GreymanSplashPage.tsx
  minting-marketplace/src/components/SplashPage/ImmersiVerseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/images/favicons/ImmersiverseATX.ico
  minting-marketplace/src/components/SplashPage/images/favicons/coinagenda.ico
  minting-marketplace/src/components/SplashPage/images/favicons/favicon-simdogs.ico
  minting-marketplace/src/components/SplashPage/images/favicons/wallstreet80club.ico
  minting-marketplace/src/components/SplashPage/splashPage.types.ts
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/MyfavoriteItem/MyFavoriteStyledItems.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/MyfavoriteItem/MyfavoriteItem.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileMyNftTab/PersonalProfileMyNftTab.css
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileMyNftTab/PersonalProfileMyNftTab.tsx
  minting-marketplace/src/components/nft/myItems.tsx
Due: Install Dependencies and run typescript test for minting-network

modified teammeet and seo
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoPlayer/ShowVideoToLoggedInUsers.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamComponentCommon.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamMeetList.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/Teammate.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeammateDesc.tsx
  minting-marketplace/src/components/SplashPage/images/greyMan/grayMan.ts
  minting-marketplace/src/components/SplashPage/images/greyMan/playImgColored.webp
  minting-marketplace/src/components/video/videoItem.tsx
  minting-marketplace/src/contracts/diamondFactoryABI.json
  minting-marketplace/src/ducks/contracts/reducer.ts
  minting-marketplace/src/ducks/seo/actions.ts
  minting-marketplace/src/ducks/seo/reducers.ts
  minting-marketplace/src/ducks/seo/seo.types.ts
  minting-marketplace/src/ducks/seo/types.ts
Due: Install Dependencies and run typescript test for minting-network

updated rairnode
  minting-marketplace/src/images/rair-website-webp/website-graphics/iframe.webp
  rairnode/bin/integrations/gcp/index.js
  rairnode/bin/integrations/ipfsService/ipfs.js
  rairnode/bin/integrations/ipfsService/pinata.js
  rairnode/bin/routes/auth.js
  rairnode/bin/schemas/index.js
  rairnode/bin/schemas/updateCommonTokenMetadata.js
  rairnode/bin/tokens/tokens.Controller.js
  rairnode/bin/tokens/tokens.Service.js
  rairnode/bin/utils/ffmpegUtils.js
  rairnode/bin/verification/userVerification.controller.js
  rairnode/readme/update_tokens_with_common_metadata.md
  smart-contracts/classic-contracts/contracts/Tokens/RAIR721_Contract.sol
  smart-contracts/classic-contracts/hardhat.config.js
Due: Install Dependencies and run typescript test for minting-network

modified smart contracts
  smart-contracts/classic-contracts/deployments/ethMainnet/RAIR721_Deployer.json
  smart-contracts/classic-contracts/deployments/ethMainnet/RAIR721_Master_Factory.json
  smart-contracts/classic-contracts/deployments/ethMainnet/solcInputs/4eec2023d5cd79d351f14fffae6e14ff.json
  smart-contracts/classic-contracts/deployments/ethMainnet/solcInputs/9337b746c4b6f969810e5bf2f5f94b8a.json
  smart-contracts/classic-contracts/test/Factory.js
  smart-contracts/diamond-contracts/contracts/diamondStandard/Diamond.sol
  smart-contracts/diamond-contracts/contracts/diamondStandard/facets/DiamondCutFacet.sol
  smart-contracts/diamond-contracts/contracts/diamondStandard/facets/DiamondLoupeFacet.sol
  smart-contracts/diamond-contracts/hardhat.config.js
  smart-contracts/diamond-contracts/package.json
Due: Run yarn install and compare generated yarn lock file with committed lock file

tested diamond contract
  smart-contracts/diamond-contracts/contracts/diamondStandard/facets/OwnershipFacet.sol
  smart-contracts/diamond-contracts/contracts/diamondStandard/facets/Test1Facet.sol
  smart-contracts/diamond-contracts/contracts/diamondStandard/facets/Test2Facet.sol
  smart-contracts/diamond-contracts/contracts/diamondStandard/interfaces/IDiamondCut.sol
  smart-contracts/diamond-contracts/contracts/diamondStandard/interfaces/IDiamondLoupe.sol
  smart-contracts/diamond-contracts/contracts/diamondStandard/interfaces/IERC165.sol
  smart-contracts/diamond-contracts/contracts/diamondStandard/interfaces/IERC173.sol
  smart-contracts/diamond-contracts/contracts/diamondStandard/libraries/LibDiamond.sol
  smart-contracts/diamond-contracts/contracts/diamondStandard/upgradeInitializers/DiamondInit.sol
Due: none

unit test of diamond contract
  smart-contracts/diamond-contracts/contracts/tokens/RAIR Token Facets/RAIRMetadataFacet.sol
  smart-contracts/diamond-contracts/deploy/DiamondMarketplace.js
  smart-contracts/diamond-contracts/deploy/DiamondStandardFacets.js
  smart-contracts/diamond-contracts/deployments/0x1/.chainId
  smart-contracts/diamond-contracts/deployments/0x1/DiamondCutFacet.json
  smart-contracts/diamond-contracts/deployments/0x1/DiamondLoupeFacet.json
  smart-contracts/diamond-contracts/deployments/0x1/FeesFacet.json
  smart-contracts/diamond-contracts/deployments/0x1/MarketplaceDiamond.json
  smart-contracts/diamond-contracts/deployments/0x1/MintingOffersFacet.json
  smart-contracts/diamond-contracts/deployments/0x1/OwnershipFacet.json
Due: none

modified diamond contract
  smart-contracts/diamond-contracts/deployments/0x1/solcInputs/a8e39065bcbb8a021fb99b1a9ef96921.json
  smart-contracts/diamond-contracts/deployments/0x1/solcInputs/fd36f951ec49d47157e7a556584d2ce2.json
  smart-contracts/diamond-contracts/deployments/0x13881/RAIRMetadataFacet.json
  smart-contracts/diamond-contracts/deployments/0x13881/solcInputs/f7be3b3cacdde8ebeaf5c5bbbf1719e6.json
  smart-contracts/diamond-contracts/deployments/0x38/RAIRMetadataFacet.json
  smart-contracts/diamond-contracts/deployments/0x38/solcInputs/f7be3b3cacdde8ebeaf5c5bbbf1719e6.json
  smart-contracts/diamond-contracts/deployments/0x5/RAIRMetadataFacet.json
Due: none

modified unit test of diamond contract
  smart-contracts/diamond-contracts/deployments/0x5/solcInputs/f7be3b3cacdde8ebeaf5c5bbbf1719e6.json
  smart-contracts/diamond-contracts/deployments/0x61/RAIRMetadataFacet.json
  smart-contracts/diamond-contracts/deployments/0x61/solcInputs/f7be3b3cacdde8ebeaf5c5bbbf1719e6.json
  smart-contracts/diamond-contracts/deployments/0x89/RAIRMetadataFacet.json
  smart-contracts/diamond-contracts/deployments/0x89/solcInputs/f7be3b3cacdde8ebeaf5c5bbbf1719e6.json
  smart-contracts/diamond-contracts/test/diamonds.js
  terraform/environments/cloudflare/rair_market.tf
  terraform/environments/shared/env_config/outputs.tf
Due: none

updated blockchain network service
  blockchain-networks-service/bin/tasks/sync-contracts.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertDiamondOffer.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertTokenDiamond.js
  minting-marketplace/package-lock.json
  minting-marketplace/package.json
  minting-marketplace/yarn.lock
  rairnode/bin/middleware/verifySuperAdmin.js
Due: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file

updated kubernetes
  blockchain-demos/diamond-manager/public/manifest.json
  blockchain-demos/diamond-manager/src/contractAbis/0x1/MintingOffersFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x13881/MintingOffersFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x38/MintingOffersFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/MintingOffersFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x61/MintingOffersFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x89/MintingOffersFacet.json
  blockchain-networks-service/bin/utils/eventCatcherUtils/insertDiamondRange.js
Due: none

modified kubernetes dev config
  kubernetes-manifests/dev-testing-deployment/configmap-blockchain-event-listener.yaml
  kubernetes-manifests/dev-testing-deployment/configmap-rairnode.yaml
  kubernetes-manifests/dev-testing-deployment/rairnode.yaml
Due: none

modified types and mainpages
  minting-marketplace/public/index.html
  minting-marketplace/public/manifest.json
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/MainPage/MainPage.module.css
  minting-marketplace/src/components/MainPage/MainPage.tsx
  minting-marketplace/src/components/common/commonTypes/PurchaseTokenTypes.types.ts
Due: Install Dependencies and run typescript test for minting-network

modified styles
  minting-marketplace/src/components/MockUpPage/ImageLazy/ImageLazyItem/ImageLazy.styled.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/styles.css
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/DonationSquares/DonationGrid.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/DonationSquares/DonationSquare.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamMeetList.tsx
  minting-marketplace/src/components/SplashPage/splashPage.types.ts
Due: Install Dependencies and run typescript test for minting-network
