Repository ccryptoDev/rair-dev: changes, and which Bitbucket steps are due for each by the changed paths.
All: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file

Install Dependencies and run typescript test for minting-network:
  caches:
  - node
  script:
  - yarn --cwd ./minting-marketplace
  - cd ./minting-marketplace && ./commands/run_tsc.sh

Run yarn install and compare generated yarn lock file with committed lock file:
  caches:
  - node
  script:
  - cd ./commands/dependency_sync_check/ && ./init.sh

update some button function, reducer
  minting-marketplace/src/components/SplashPage/PurchaseChecklist/ButtonHelp.tsx
  minting-marketplace/src/components/SplashPage/RAIRGenesis/RAIRGenesis.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/AuthorCard/AuthorCard.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/Carousel/Carousel.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/ModalHelp.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamMeetList.tsx
  minting-marketplace/src/components/SplashPage/TokenLeft/TokenLeftTemplate.tsx
  minting-marketplace/src/components/SplashPage/images/wallstreetA.png
  minting-marketplace/src/components/SplashPage/images/wallstreetB.png
  minting-marketplace/src/components/SplashPage/images/wallstreetC.png
  minting-marketplace/src/components/SplashPage/images/wallstreetCounter.png
  minting-marketplace/src/components/SplashPage/images/wallstreetD.png
  minting-marketplace/src/components/SplashPage/images/wallstreetE.png
  minting-marketplace/src/components/SplashPage/images/wallstreetF.png
  minting-marketplace/src/components/SplashPage/wallstreet80sclub/wallstreet80sclub.css
  minting-marketplace/src/components/SplashPage/wallstreet80sclub/wallstreet80sclub.tsx
  minting-marketplace/src/components/video/video.types.ts
  minting-marketplace/src/ducks/nftData/action.ts
  minting-marketplace/src/ducks/nftData/reducers.ts
  minting-marketplace/src/ducks/nftData/types.ts
  minting-marketplace/src/fonts/Cooper Std Black/Cooper Std Black.ttf
  minting-marketplace/src/fonts/Cooper Std Black/readme.html
  minting-marketplace/src/fonts/copperplate/OPTICopperplate-Heavy.otf
  minting-marketplace/src/fonts/copperplate/OPTICopperplate-Light.otf
  minting-marketplace/src/fonts/copperplate/OPTICopperplate.otf
  minting-marketplace/src/temp_unused_components/OldNftDataCommonLink.ts
  minting-marketplace/src/temp_unused_components/OldNftDataPageMain.tsx
Due: Install Dependencies and run typescript test for minting-network

update aboutpage in frontend
  docker-compose.local.yml
  media-service/bin/integrations/gcp/index.js
  minting-marketplace/src/App.css
  minting-marketplace/src/App.tsx
  minting-marketplace/src/axios.responseTypes.ts
  minting-marketplace/src/components/AboutPage/AboutPageNew/AboutPageNew.css
  minting-marketplace/src/components/AboutPage/AboutPageNew/CompareAbout/CompareAbout.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/CompareAbout/CompareMobileSelect/CompareMobileSelect.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/ExclusiveNfts/ExclusiveNfts.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/LeftTokenAbout/LeftTokenAbout.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/RoadMapAbout/RoadMapAbout.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/Tokenomics/Tokenomics.tsx
Due: Install Dependencies and run typescript test for minting-network

update mockup and nftdata
  minting-marketplace/src/components/Footer/Footer.tsx
  minting-marketplace/src/components/GroupLogos/MainLogo.tsx
  minting-marketplace/src/components/Header/HeaderItems/TalkToSalesComponent/TalkSalesComponent.tsx
  minting-marketplace/src/components/InquiriesPage/InquiriesItems.tsx
  minting-marketplace/src/components/MockUpPage/FilteringBlock/filteringBlock.types.ts
  minting-marketplace/src/components/MockUpPage/FilteringBlock/portal/ModalItem/ModalItem.tsx
  minting-marketplace/src/components/MockUpPage/GeneralCollectionStyles.css
  minting-marketplace/src/components/MockUpPage/NftList/NftData/BuySellButton.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/CollectionInfo/CollectionInfo.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/CustomShareButton.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataPageMain.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftListUnlockablesVideos.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftSingleUnlockables.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftVideoplayer/NftVideoplayer.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/TitleCollection/SharePopUp/SharePopUp.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/TitleCollection/TitleCollection.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockableVideosSingleTokenPage.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/VideoPlayerView.module.css
  minting-marketplace/src/components/MockUpPage/NftList/NftItem.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftItemForCollectionView.tsx
  minting-marketplace/src/components/MockUpPage/assets/PlayCircle.svg
  minting-marketplace/src/components/layout/Layout.tsx
Due: Install Dependencies and run typescript test for minting-network

update mockup, nftItem and nftdata
  minting-marketplace/src/components/MockUpPage/NftList/NftData/UnlockablesPage/VideoPlayerView.tsx
  minting-marketplace/src/components/MockUpPage/SelectBox/styles.css
  minting-marketplace/src/components/Navigation/MenuComponents/MobileChoiseNav.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileProfileInfo.tsx
  minting-marketplace/src/components/Navigation/NavigationItems/NavigationItems.tsx
  minting-marketplace/src/components/SplashPage/CommingSoon/ComingSoonNut.tsx
  minting-marketplace/src/components/SplashPage/CommingSoon/CommingSoon.tsx
  minting-marketplace/src/components/SplashPage/ExclusiveNft/ExclusiveNft.tsx
  minting-marketplace/src/components/SplashPage/ImmersiVerseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/JoinCom/JoinCom.tsx
  minting-marketplace/src/components/SplashPage/NipseyRelease/NipseyRelease.tsx
  minting-marketplace/src/components/SplashPage/Nutcrackers/Nutcrackers.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/AuthorCard/AuthorCardButton.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/Carousel/Carousel.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/NFTImages/NFTImages.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/TimelineGeneric/TimelineGeneric.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoPlayer/ShowVideoToLoggedInUsers.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoTiles/VideoTilesItem.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/Teammate.tsx
  minting-marketplace/src/components/SplashPage/Timeline/Timeline.tsx
  minting-marketplace/src/components/SplashPage/TokenLeft/TokenLeft.tsx
  minting-marketplace/src/components/SplashPage/images/playImg.png
  minting-marketplace/src/components/SplashPage/index.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileIcon/PersonalProfileIcon.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileMyCreated/PersonalProfileMyCreated.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileMyNftTab/PersonalProfileMyNftTab.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileMyVideoTab/PersonalProfileMyVideoTab.tsx
  minting-marketplace/src/components/nft/Token.tsx
  minting-marketplace/src/components/nft/myDiamondItems.tsx
  minting-marketplace/src/components/nft/myItems.tsx
Due: Install Dependencies and run typescript test for minting-network

update minter marketplace
  minting-marketplace/src/components/SplashPage/TokenLeft/TokenLeftGreyman.tsx
  minting-marketplace/src/components/SplashPage/UnlockVideos/UnlockVideoItem.tsx
  minting-marketplace/src/components/SplashPage/VaporverseSplash/VaporverseSplashPage.tsx
  minting-marketplace/src/components/ThankYouPage/index.tsx
  minting-marketplace/src/components/UserProfileSettings/EditMode/EditMode.tsx
  minting-marketplace/src/components/UserProfileSettings/NotificationPage/NotificationPage.tsx
  minting-marketplace/src/components/UserProfileSettings/PopUpNotification/PopUpNotification.tsx
  minting-marketplace/src/components/UserProfileSettings/PopUpSetting.tsx
  minting-marketplace/src/components/UserProfileSettings/UploadProfilePicture/ImageUpload/ImageUpload.tsx
  minting-marketplace/src/components/UserProfileSettings/UploadProfilePicture/Profile/Profile.tsx
  minting-marketplace/src/components/video/videoItem.tsx
  minting-marketplace/src/contracts/diamondFactoryABI.json
  minting-marketplace/src/ducks/contracts/reducer.ts
  minting-marketplace/src/temp_unused_components/OldNftDataPageMain.tsx
  rairnode/README.md
  rairnode/bin/contracts/contracts.Controller.js
  rairnode/bin/contracts/contracts.Service.js
  rairnode/bin/models/contract.js
  rairnode/bin/routes/nft/contract/product/index.js
Due: Install Dependencies and run typescript test for minting-network

add some function to account service
  rairnode/bin/users/users.Service.js
  rairnode/bin/utils/entityFactory.js
  rairnode/readme/get_all_minted_tokens_from_product.md
  rairnode/readme/get_contracts_by_userId.md
  smart-contracts/classic-contracts/deployments/binanceTestnet/RAIR721_Deployer.json
  smart-contracts/classic-contracts/deployments/binanceTestnet/RAIR721_Master_Factory.json
  smart-contracts/classic-contracts/deployments/binanceTestnet/solcInputs/7088d836d809f5bc7a61f306620ebc94.json
  smart-contracts/classic-contracts/deployments/goerli/RAIR721_Deployer.json
  smart-contracts/classic-contracts/deployments/goerli/RAIR721_Master_Factory.json
  smart-contracts/classic-contracts/deployments/goerli/solcInputs/7088d836d809f5bc7a61f306620ebc94.json
  smart-contracts/classic-contracts/deployments/mumbai/RAIR721_Deployer.json
  smart-contracts/classic-contracts/deployments/mumbai/RAIR721_Master_Factory.json
  smart-contracts/classic-contracts/deployments/mumbai/solcInputs/7088d836d809f5bc7a61f306620ebc94.json
  terraform/environments/cloudflare/rair_market.tf
  terraform/environments/cloudflare/rair_tech.tf
  terraform/environments/pagerduty/each_env/main.tf
  terraform/environments/pagerduty/each_env/variables.tf
  terraform/environments/pagerduty/main.tf
  terraform/modules/foundation/iam_policies.tf
  terraform/modules/foundation/service_accounts.tf
  terraform/modules/kubernetes_infra/rairnode.tf
Due: none

add some function to contract controller and services
  rairnode/README.md
  rairnode/bin/contracts/contracts.Controller.js
  rairnode/bin/contracts/contracts.Service.js
  rairnode/bin/integrations/ethers/importContractData.js
  rairnode/bin/models/contract.js
  rairnode/bin/routes/auth.js
  rairnode/bin/routes/contracts/index.js
  rairnode/readme/get_full_contracts_v2.md
  rairnode/readme/post_external_contract.md
Due: none

update minter marketplace
  blockchain-demos/diamond-manager/src/contractAbis/0x13881/MintingOffersFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x13881/RAIRMetadataFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x13881/RAIRRangesFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x38/MintingOffersFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x38/RAIRMetadataFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x38/RAIRRangesFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/.chainId
  blockchain-demos/diamond-manager/src/contractAbis/0x5/MarketplaceDiamond.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/MintingOffersFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/RAIRMetadataFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/RAIRRangesFacet.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/05e3e1fcec061a25cba681e00e4be9f2.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/23b14baf693ec8d2293bc1181475e117.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/32803e2b247c79b3c9268b86650e01b3.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/3361f4cffaeaaf8d639b72243d33a483.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/3b03756934eff78047fdc927674778f5.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/4172b6c7bff8b9f08fcb14d11f26f057.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/5c9a6b1e2bb30fb69effbccc20e83a24.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/7784fd296cdc3227e2c5cf2c7c5983b6.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/88831041f5bf59d73a57614082bfa29b.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/88e63d6b093ebc7ad8569ab5ae121cbd.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/8d128ee5a66a73f617eeedf37ad5359a.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/8e65d135f0f1a9a15bd5e211a01c65ec.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/989c7aeb23a0e637ad6453db0fe35c7e.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/a446610c060a6745d4cfb6e5a68547b8.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/dab41e518a34db4157b5822de8d6a702.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/e3f9ffc5f10aa610d780bf4fca9fbc86.json
  blockchain-demos/diamond-manager/src/contractAbis/0x5/solcInputs/ed2fe835a4cff5a56164721ed3b1eb88.json
Due: none

update offer pool, offer service and contracts in rairnode
  media-service/README.md
  media-service/readme/upload_media.md
  rairnode/README.md
  rairnode/bin/contracts/contracts.Service.js
  rairnode/bin/favorites/favoriteTokens.Service.js
  rairnode/bin/favorites/favorites.Controller.js
  rairnode/bin/offerPools/offerPools.Service.js
  rairnode/bin/offers/offers.Service.js
  rairnode/bin/routes/v2.router.js
  rairnode/bin/tokens/tokens.Controller.js
  rairnode/bin/tokens/tokens.Service.js
  rairnode/bin/utils/entityFactory.js
  rairnode/readme/create_favoriteToken.md
  rairnode/readme/delete_favoriteToken.md
  rairnode/readme/get_list_of_favoriteTokens.md
  rairnode/readme/get_minted_token_by_contract_product_index_v2.md
Due: none

update minter marketplace
  minting-marketplace/src/App.tsx
  rairnode/README.md
  rairnode/bin/tokens/tokens.Controller.js
  rairnode/bin/tokens/tokens.Service.js
  rairnode/readme/update_token_metadata_v2.md
  terraform/environments/shared/env_config/outputs.tf
Due: Install Dependencies and run typescript test for minting-network

update iframepage and videoplayer of minter marketplace
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/iframePage/IframePage.tsx
  minting-marketplace/src/components/iframePage/iframeStyles.css
  minting-marketplace/src/components/iframePage/testIframe.tsx
  minting-marketplace/src/components/video/video.types.ts
  minting-marketplace/src/components/video/videoPlayer.tsx
  minting-marketplace/src/components/video/videoPlayerStyles.css
  minting-marketplace/src/styled-components/nft/AppContainer.tsx
Due: Install Dependencies and run typescript test for minting-network

update token controller and services
  rairnode/README.md
  rairnode/bin/tokens/tokens.Controller.js
  rairnode/bin/tokens/tokens.Service.js
  rairnode/readme/pin_token_metadata_to_ipfs_v2.md
Due: none

update splashpage
  minting-marketplace/src/components/SplashPage/RAIRGenesis/RAIRGenesis.css
  minting-marketplace/src/components/SplashPage/RAIRGenesis/RAIRGenesis.tsx
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.css
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.tsx
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs_old.css
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/DonationSquares/DonationGrid.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/DonationSquares/DonationSquare.css
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/DonationSquares/DonationSquare.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamMeetList.tsx
  minting-marketplace/src/components/SplashPage/images/SimDogs2.png
  minting-marketplace/src/components/SplashPage/images/SimDogs3.png
  minting-marketplace/src/components/SplashPage/images/SimDogs4.png
  minting-marketplace/src/components/SplashPage/wallstreet80sclub/wallstreet80sclub.css
  minting-marketplace/src/components/video/videoUpload/videoUpload.tsx
  minting-marketplace/src/fonts/Acme/Acme-Regular.ttf
  minting-marketplace/src/fonts/Acme/OFL.txt
  rairnode/Dockerfile.prod
  rairnode/bin/config/index.js
  rairnode/bin/middleware/isSuperAdmin.js
  rairnode/bin/shared_backend_code_generated/vault/vaultUtils.js
  shared_backend_code_source/vault/vaultUtils.js
  terraform/environments/dev/vault_config/main.tf
  terraform/environments/prod/vault_config/main.tf
  terraform/environments/staging/vault_config/main.tf
  terraform/modules/foundation/gke_secrets.tf
  terraform/modules/foundation/service_accounts.tf
  terraform/modules/vault_config/media_service_app_role.tf
  terraform/modules/vault_config/variables.tf
  terraform/utils/vault/generate_app_role_creds.sh
Due: Install Dependencies and run typescript test for minting-network

update creatorStudio and splashpage
  Jenkinsfile
  blockchain-networks-service/Dockerfile.prod
  blockchain-networks-service/bin/shared_backend_code_generated/vault/vaultUtils.js
  docker-compose.yml
  kubernetes-manifests/configmaps/environment/dev/configmap-media-service.yaml
  kubernetes-manifests/configmaps/environment/dev/configmap-rairnode.yaml
  kubernetes-manifests/dev-manifest/rairnode.yaml
  media-service/Dockerfile.prod
  media-service/bin/shared_backend_code_generated/vault/vaultUtils.js
  media-service/commands/start_prod.sh
  minting-marketplace/Dockerfile.prod-new
  minting-marketplace/src/components/SplashPage/images/AndreMiripolsky.png
  minting-marketplace/src/components/SplashPage/images/MichaelTerpin.png
  minting-marketplace/src/components/SplashPage/images/SimDogs1.png
  minting-marketplace/src/components/creatorStudio/creatorSteps/MediaUploadRow.tsx
  minting-marketplace/src/index.css
Due: Install Dependencies and run typescript test for minting-network

upgrade pragma version of smart contracts
  smart-contracts/classic-contracts/contracts/Factory/RAIR721_Deployer.sol
  smart-contracts/classic-contracts/contracts/Factory/RAIR721_Master_Factory.sol
  smart-contracts/classic-contracts/contracts/Marketplaces/MarketplaceMinter.sol
  smart-contracts/classic-contracts/contracts/Marketplaces/MarketplaceResale.sol
  smart-contracts/classic-contracts/contracts/Tokens/IRAIR721_Contract.sol
  smart-contracts/classic-contracts/contracts/Tokens/RAIR721_Contract.sol
  smart-contracts/classic-contracts/contracts/Utilities/rangeValidator.sol
  smart-contracts/classic-contracts/deploy/newTokenFactory.js
  smart-contracts/classic-contracts/deployments/binanceTestnet/RAIR721_Deployer.json
  smart-contracts/classic-contracts/deployments/binanceTestnet/solcInputs/989c0f0a052e06694ef2ed01f9216127.json
  smart-contracts/classic-contracts/deployments/goerli/RAIR721_Deployer.json
  smart-contracts/classic-contracts/deployments/goerli/solcInputs/989c0f0a052e06694ef2ed01f9216127.json
  smart-contracts/classic-contracts/deployments/matic/RAIR721_Deployer.json
  smart-contracts/classic-contracts/deployments/matic/solcInputs/989c0f0a052e06694ef2ed01f9216127.json
  smart-contracts/classic-contracts/deployments/mumbai/RAIR721_Deployer.json
  smart-contracts/classic-contracts/deployments/mumbai/solcInputs/989c0f0a052e06694ef2ed01f9216127.json
  smart-contracts/classic-contracts/hardhat.config.js
  smart-contracts/classic-contracts/test/Factory.js
Due: none

update NFT locker controller and user services
  rairnode/README.md
  rairnode/bin/locks/locks.Controller.js
  rairnode/bin/locks/locks.Service.js
  rairnode/bin/routes/nft/contract/product/index.js
  rairnode/bin/routes/v2.router.js
  rairnode/bin/users/users.Controller.js
  rairnode/bin/users/users.Service.js
  rairnode/bin/utils/entityFactory.js
  rairnode/readme/get_product_locks_v2.md
  rairnode/readme/post_external_contract.md
Due: none

update upload, file controllers in rairnode
  rairnode/bin/media/controllers/file.controller.js
  rairnode/bin/media/controllers/index.js
  rairnode/bin/media/controllers/validate.controller.js
  rairnode/bin/media/upload.service.js
  rairnode/bin/media/uploadController.js
  rairnode/bin/routes/v2.router.js
Due: none

update NFT listings, favorites.
  minting-marketplace/src/axios.responseTypes.ts
  minting-marketplace/src/components/MockUpPage/GeneralCollectionStyles.css
  minting-marketplace/src/components/MockUpPage/NftList/LikeButton/LikeButton.tsx
  minting-marketplace/src/components/MockUpPage/NftList/LikeButton/favoritesReducer/actionTypes/types.ts
  minting-marketplace/src/components/MockUpPage/NftList/LikeButton/favoritesReducer/actions/actionFavorites.ts
  minting-marketplace/src/components/MockUpPage/NftList/LikeButton/favoritesReducer/favorites.types.ts
  minting-marketplace/src/components/MockUpPage/NftList/LikeButton/favoritesReducer/favoritesReducers.ts
  minting-marketplace/src/components/MockUpPage/NftList/NftData/EtherscanIconComponent.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataPageMain.tsx
  minting-marketplace/src/components/MockUpPage/mockupPage.types.ts
  minting-marketplace/src/components/UserProfileSettings/UploadProfilePicture/Edit/Edit.tsx
  minting-marketplace/src/components/nft/MyItems.css
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/BtnMyFavorite/BtnMyFavorite.styled.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/BtnMyFavorite/BtnMyFavorite.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/MyfavoriteItem/MyFavoriteStyledItems.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/MyfavoriteItem/MyfavoriteItem.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/PersonalProfileFavoritesTab.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/myFavorites.types.ts
  minting-marketplace/src/components/nft/myItems.tsx
Due: Install Dependencies and run typescript test for minting-network

add uploadController in rairnode router
  rairnode/bin/routes/v2.router.js
Due: none

update splashpage
  minting-marketplace/package.json
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/AboutPage/AboutPageNew/AboutPageNew.tsx
  minting-marketplace/src/components/SeoTags/MetaTags.tsx
  minting-marketplace/src/components/SplashPage/AuthorBlock/AuthorBlock.tsx
  minting-marketplace/src/components/SplashPage/CoinAgenda2021/CoinAgenda2021.tsx
  minting-marketplace/src/components/SplashPage/CommingSoon/ComingSoonNut.tsx
  minting-marketplace/src/components/SplashPage/CommingSoon/CommingSoon.tsx
  minting-marketplace/src/components/SplashPage/DefaultButtonBlock.tsx
  minting-marketplace/src/components/SplashPage/GreymanSplashPage.tsx
  minting-marketplace/src/components/SplashPage/ImmersiVerseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/NFTLASplashPage.tsx
  minting-marketplace/src/components/SplashPage/PrivacyPolicy.tsx
  minting-marketplace/src/components/SplashPage/PurchaseModal.tsx
  minting-marketplace/src/components/SplashPage/TermsUse.tsx
  minting-marketplace/src/components/SplashPage/WarningModal.tsx
  minting-marketplace/src/components/SplashPage/index.tsx
  minting-marketplace/src/components/SplashPage/splashPage.types.ts
  minting-marketplace/src/components/SplashPage/splashPageProductsHook.ts
  minting-marketplace/yarn.lock
Due: Install Dependencies and run typescript test for minting-network, Run yarn install and compare generated yarn lock file with committed lock file

modify video player in splash page
  minting-marketplace/src/components/SplashPage/ExclusiveNft/ExclusiveNft.tsx
  minting-marketplace/src/components/SplashPage/JoinCom/JoinCom.tsx
  minting-marketplace/src/components/SplashPage/NFTNYC/NFTNYC.tsx
  minting-marketplace/src/components/SplashPage/NipseyRelease/MailchimpComponent.tsx
  minting-marketplace/src/components/SplashPage/NipseyRelease/NipseyRelease.tsx
  minting-marketplace/src/components/SplashPage/NotCommercial-2/NotCommercialTemplate-2.tsx
  minting-marketplace/src/components/SplashPage/NotCommercial/NotCommercial.tsx
  minting-marketplace/src/components/SplashPage/NotCommercial/NotCommercialGeneric.tsx
  minting-marketplace/src/components/SplashPage/NotCommercial/NotCommercialTemplate.tsx
  minting-marketplace/src/components/SplashPage/PurchaseChecklist/ButtonHelp.tsx
  minting-marketplace/src/components/SplashPage/PurchaseChecklist/PurchaseChecklist.tsx
  minting-marketplace/src/components/SplashPage/RAIRGenesis/RAIRGenesis.tsx
  minting-marketplace/src/components/SplashPage/Roadmap/RoadMap.tsx
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.tsx
  minting-marketplace/src/components/SplashPage/SlideLock/SlideLock.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/AuthorCard/AuthorCard.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/AuthorCard/AuthorCardButton.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/Carousel/Carousel.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/DonationSquares/DonationGrid.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/ModalHelp.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/NFTCounter/NFTCounter.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/NFTCounter/NFTCounterTemplate.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/NFTImages/NFTImages.tsx
Due: Install Dependencies and run typescript test for minting-network

update teamMeet in splashpage
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/StaticVideoTiles/StaticTiles.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/TimelineGeneric/TimelineGeneric.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoPlayer/ShowVideoToLoggedInUsers.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoPlayer/VideoPlayerBySignature .tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoPlayer/VideoPlayerModule.tsx
  minting-marketplace/src/components/SplashPage/SplashPageTemplate/VideoTiles/StaticTiles.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamComponentCommon.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeamMeetList.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/Teammate.tsx
  minting-marketplace/src/components/SplashPage/TeamMeet/TeammateDesc.tsx
  minting-marketplace/src/components/SplashPage/Timeline/Timeline.tsx
  minting-marketplace/src/components/SplashPage/Timer/CountDown.tsx
  minting-marketplace/src/components/SplashPage/TokenLeft/TokenLeftGreyman.tsx
Due: Install Dependencies and run typescript test for minting-network

Modify several items in splash page
  minting-marketplace/src/components/SplashPage/TokenLeft/TokenLeft.tsx
  minting-marketplace/src/components/SplashPage/TokenLeft/TokenLeftTemplate.tsx
  minting-marketplace/src/components/SplashPage/UkraineGlitchSplashPage/UkraineSplashPage.tsx
  minting-marketplace/src/components/SplashPage/UnlockVideos/UnlockVideoItem.tsx
  minting-marketplace/src/components/SplashPage/UnlockVideos/UnlockVideos.tsx
  minting-marketplace/src/components/SplashPage/VaporverseSplash/VaporverseSplash.css
  minting-marketplace/src/components/SplashPage/VaporverseSplash/VaporverseSplashPage.tsx
  minting-marketplace/src/components/SplashPage/wallstreet80sclub/wallstreet80sclub.tsx
  minting-marketplace/src/components/video/video.types.ts
  minting-marketplace/src/components/video/videoPlayerGenerall.tsx
  minting-marketplace/src/typescript-global-types/images.d.ts
Due: Install Dependencies and run typescript test for minting-network

modify blockchain events
  kubernetes-manifests/configmaps/environment/dev/configmap-blockchain-event-listener.yaml
  kubernetes-manifests/configmaps/environment/dev/configmap-rairnode.yaml
Due: none

modify some controller, routers in rairnode
  rairnode/README.md
  rairnode/bin/files/files.Controller.js
  rairnode/bin/files/files.Service.js
  rairnode/bin/routes/media.js
  rairnode/bin/routes/nft/contract/product/index.js
  rairnode/bin/routes/v2.router.js
  rairnode/bin/utils/entityFactory.js
  rairnode/bin/utils/helpers.js
  rairnode/readme/get_files_by_product_v2.md
Due: none

update environments
  Jenkinsfile
  blockchain-networks-service/bin/models/product.js
  blockchain-networks-service/bin/tasks/index.js
  rairnode/Dockerfile.prod
  rairnode/bin/contracts/contracts.Service.js
  rairnode/bin/models/product.js
  rairnode/bin/routes/contracts/index.js
  rairnode/bin/schemas/filterAndSort.js
  rairnode/readme/get_full_contracts_v2.md
  terraform/environments/dev/kubernetes/main.tf
  terraform/environments/pagerduty/main.tf
  terraform/environments/prod/foundation/alerts.tf
  terraform/environments/prod/foundation/main.tf
  terraform/environments/prod/foundation/uptime_check.tf
  terraform/environments/prod/vault_config/main.tf
Due: none

update terraform
  terraform/modules/foundation/managed_certs.tf
  terraform/modules/foundation/notifications.tf
  terraform/modules/foundation/output.tf
  terraform/modules/kubernetes_infra/blockchain-event-listener.tf
  terraform/modules/kubernetes_infra/jenkins.tf
  terraform/modules/kubernetes_infra/main.tf
  terraform/modules/kubernetes_infra/rairnode.tf
  terraform/modules/uptime_check_alert_policy/main.tf
  terraform/modules/uptime_check_alert_policy/variables.tf
  terraform/utils/vault/before_script.sh
Due: none

update kubernete env
  kubernetes-manifests/configmaps/environment/dev/api-ingress.yaml
  kubernetes-manifests/configmaps/environment/dev/api-managed-cert.yaml
  kubernetes-manifests/configmaps/environment/dev/configmap-media-service.yaml
  kubernetes-manifests/configmaps/environment/dev/configmap-rairnode.yaml
  kubernetes-manifests/configmaps/environment/dev/media-service-ingress.yaml
  kubernetes-manifests/configmaps/environment/dev/ms-managed-cert.yaml
  kubernetes-manifests/configmaps/environment/prod/BackendConfig.yaml
  kubernetes-manifests/configmaps/environment/prod/api-ingress.yaml
  kubernetes-manifests/configmaps/environment/prod/api-managed-cert.yaml
Due: none

update kubernetes configuration & env
  kubernetes-manifests/configmaps/environment/prod/FrontendConfig.yaml
  kubernetes-manifests/configmaps/environment/prod/configmap-blockchain-event-listener.yaml
  kubernetes-manifests/configmaps/environment/prod/configmap-media-service.yaml
  kubernetes-manifests/configmaps/environment/prod/configmap-minting-network.yaml
  kubernetes-manifests/configmaps/environment/prod/configmap-rairnode.yaml
  kubernetes-manifests/configmaps/environment/prod/managed-cert.yaml
  kubernetes-manifests/configmaps/environment/prod/media-service-ingress.yaml
  kubernetes-manifests/configmaps/environment/prod/ms-managed-cert.yaml
  kubernetes-manifests/configmaps/environment/prod/rair-ingress.yaml
Due: none

update minting marketplace
  minting-marketplace/Dockerfile.prod
  minting-marketplace/docker-defaults.sh
  minting-marketplace/nginx/nginx.conf
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.css
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.tsx
  rairnode/bin/contracts/contracts.Service.js
  rairnode/bin/models/contract.js
  rairnode/bin/offers/offers.Service.js
  rairnode/bin/products/product.Controller.js
  rairnode/bin/products/product.Service.js
Due: Install Dependencies and run typescript test for minting-network

Modified mockup page
  Jenkinsfile
  minting-marketplace/Dockerfile.prod-new
  minting-marketplace/nginx/new-nginx.conf
  minting-marketplace/nginx/nginx.conf
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/MockUpPage/ImageLazy/ImageLazy.tsx
  minting-marketplace/src/components/MockUpPage/ImageLazy/ImageLazyItem/ImageLazy.styled.tsx
  minting-marketplace/src/components/MockUpPage/ImageLazy/types/imageLazy.types.ts
  minting-marketplace/src/components/MockUpPage/NftList/NftItem.tsx
  minting-marketplace/src/components/MockUpPage/NftList/NftItemForCollectionView.tsx
  minting-marketplace/src/components/iframePage/IframePage.tsx
  minting-marketplace/src/components/iframePage/iframeStyles.css
Due: Install Dependencies and run typescript test for minting-network

Modify personal profile and video player
  minting-marketplace/src/components/MockUpPage/NftList/NftData/NftDataPageMain.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileFavoritesTab/PersonalProfileFavoritesTab.tsx
  minting-marketplace/src/components/video/videoPlayer.tsx
  rairnode/bin/tokens/tokens.Controller.js
  terraform/environments/dev/kubernetes/configmaps.tf
  terraform/environments/dev/kubernetes/main.tf
  terraform/modules/kubernetes_infra/media-service.tf
  terraform/modules/kubernetes_infra/minting-network.tf
Due: Install Dependencies and run typescript test for minting-network

modified blockchain network
  blockchain-networks-service/bin/integrations/ethers/contracts/diamondDeprecatedEvents.json
  blockchain-networks-service/bin/integrations/ethers/contracts/diamondFactoryABI.json
  blockchain-networks-service/bin/utils/eventCatcherUtils/eventsCommonUtils.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/metadataForContract.js
  blockchain-networks-service/bin/utils/eventCatcherUtils/metadataForProduct.js
Due: none

update media files in splashpage
  media-service/bin/index.js
  media-service/bin/integrations/gcp/index.js
  media-service/bin/middleware/errorHandler.js
  media-service/bin/middleware/index.js
  media-service/bin/middleware/validation.js
  media-service/bin/upload/upload.service.js
  media-service/bin/utils/errors/AppError.js
  media-service/bin/utils/errors/errorHandlers.js
  media-service/bin/utils/errors/mainErrorHandler.js
  rairnode/bin/middleware/isAdmin.js
Due: none

update middlewares, offers, jwtVerification in rairnode
  minting-marketplace/src/components/SplashPage/SimDogs/SimDogs.tsx
  rairnode/bin/contracts/contracts.Service.js
  rairnode/bin/hls-starter.js
  rairnode/bin/index.js
  rairnode/bin/integrations/ethers/tokenValidation.js
  rairnode/bin/integrations/gcp/index.js
  rairnode/bin/media/upload.service.js
  rairnode/bin/middleware/JWTVerification.js
  rairnode/bin/middleware/dataTransform.js
  rairnode/bin/middleware/isOwner.js
  rairnode/bin/middleware/streamVerification.js
  rairnode/bin/middleware/validation.js
  rairnode/bin/offerPools/offerPools.Service.js
  rairnode/bin/offers/offers.Service.js
  rairnode/bin/products/product.Service.js
  rairnode/bin/resales/resales.Service.js
  rairnode/bin/routes/auth.js
  rairnode/bin/routes/contracts/contract/index.js
  rairnode/bin/routes/contracts/index.js
  rairnode/bin/routes/csv.js
  rairnode/bin/routes/media.js
  rairnode/bin/routes/monaco2021.js
  rairnode/bin/routes/nft/contract/product/index.js
  rairnode/bin/routes/nft/contract/product/token/index.js
  rairnode/bin/routes/nft/index.js
  rairnode/bin/routes/users.js
  rairnode/bin/routes/v2.router.js
  rairnode/bin/search/search.Service.js
  rairnode/bin/tokens/tokens.Service.js
  rairnode/bin/users/users.Service.js
  rairnode/bin/utils/entityFactory.js
  rairnode/bin/utils/errors/AppError.js
  rairnode/bin/utils/errors/errorHandlers.js
  rairnode/bin/utils/errors/mainErrorHandler.js
  rairnode/readme/get_csv_sample_file_v2.md
Due: Install Dependencies and run typescript test for minting-network

update minting marketplace
  minting-marketplace/src/components/MockUpPage/NftList/NftData/TitleCollection/TitleCollection.css
  minting-marketplace/src/components/MockUpPage/NftList/NftData/TitleCollection/TitleCollection.tsx
  minting-marketplace/src/components/Navigation/Menu.css
  minting-marketplace/src/components/Navigation/MenuComponents/MobileChoiseNav.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileListMenu.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileProfileInfo.tsx
  minting-marketplace/src/components/Navigation/NavigationItems/NavigationItems.tsx
Due: Install Dependencies and run typescript test for minting-network

update Docker
  docker-compose-prod.yaml
  docker-compose-web-auth.yml
  docker-compose-web.yml
  docker-compose.local.yml
  docker-compose.remote.yml
  docker-compose.yml
Due: none

Update the personal profile in minter marketplace
  minting-marketplace/src/App.tsx
  minting-marketplace/src/components/Header/MainHeader.tsx
  minting-marketplace/src/components/Header/header.types.ts
  minting-marketplace/src/components/Navigation/Menu.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileListMenu.tsx
  minting-marketplace/src/components/Navigation/MenuComponents/MobileNavigationList.tsx
  minting-marketplace/src/components/UserProfileSettings/PopUpSetting.tsx
  minting-marketplace/src/components/UserProfileSettings/SettingsIcons/SettingsIcons.tsx
  minting-marketplace/src/components/UserProfileSettings/UserProfileSettings.tsx
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileIcon/PersonalProfileIcon.module.css
  minting-marketplace/src/components/nft/PersonalProfile/PersonalProfileIcon/PersonalProfileIcon.tsx
  minting-marketplace/src/components/nft/myItems.tsx
  minting-marketplace/src/components/nft/nft.types.ts
Due: Install Dependencies and run typescript test for minting-network

update lock, favorite in rairnode
  rairnode/bin/favorites/favorites.Controller.js
  rairnode/bin/locks/locks.Controller.js
  rairnode/bin/routes/v2.router.js
  rairnode/bin/tokens/tokens.Controller.js
  rairnode/bin/verification/userVerification.controller.js
  terraform/modules/vault_config/main.tf
  terraform/modules/vault_config/media_service_app_role.tf
Due: none

Path conditions:
  Install Dependencies and run typescript test for minting-network: any of: minting-marketplace/**
  Run yarn install and compare generated yarn lock file with committed lock file: any of: **/package.json, **/yarn.lock
